a {
    text-decoration:    none;
    color:              #518341; }
a:hover {
    color:              #C99199; }
article>p {
    margin:             25px 0; }
.article_title {
    text-align:         center; }
#big_table {
    width:              100%;
    padding:            20pt 0px; }
#big_table tr td, .year_header {
    text-align:         center;
    padding:            20pt;
    font-size:          200%; }
#blog main article, #postarchives main article, header article {
    margin:             100px 0px; }
#archives main article {
    margin: 10px 0;
}
body {
    background-color:   #F6F6F6;
    font-family:        "Roboto";
    font-size:          12pt;
    line-height:        200%;
    opacity:            0.8; }
.flash {
    display: none; }
div.flash:first-of-type {
    margin-top:         25px; }
div.flash {
    font-size:          12pt;
    color:              #C99199; }
#fn1 {
    border-top:         1px dashed gray;
    margin-top:         50pt;
    padding-top:         25pt; }
.footnote {
    margin:             50px 0px; }
.footnote>p {
    text-align:         left !important;
    font-size:          11pt; }
.footnote>p:last-of-type {
    display:            inline; }
.frame {
    display:            none;
    width: 1280px;
    height: 786px;
    border: 0;
    -ms-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
h1 {
    text-align:         right;
    margin:             50px 0px;
    font-size:          28pt; }
h2 {
    font-size: 24pt; }
h3 {
    font-size: 20pt; }
h4 {
    font-size: 16pt; }
h5 {
    font-size: 14pt; }
h6 {
    font-size: 12pt; }
header {
    text-align: center;
    min-height: 100px;
    font-size: 150%; }
#home #home_link, 
#blog #blog_link, 
#projects #projects_link,
#newcustomers #new_customers_link,
#login #customers_link,
#loggedin #customers_link,
#postarchives #archives_link,
#archives #archives_link {
    text-decoration:    underline; }
#home #rss_link, #home #archives_link,
#projects #rss_link, #projects #archives_link,
#newcustomers #rss_link, #newcustomers #archives_link,
#existingcustomers #rss_link, #existingcustomers #archives_link,
#loggedin #rss_link, #loggedin #archives_link,
#logout #rss_link, #logout #archives_link,
#home #logout_link, #blog #logout_link, #projects #logout_link, #archives #logout_link, #existingcustomers #logout_link, #postarchives #logout_link, #post #logout_link, #error #logout_link {
    display:            none; }
hr {
    margin:             50px auto;
    width:              50%;
    border:             0;
    border-bottom:      1px dashed #ccc;
    background:         #999; }
html, body {
    margin:             0;
    padding:            0; }
.iframe {
    text-align:         center; }
.image {
    text-align:         center; }
.image img {
    max-width:          50em; }
.linkpost {
    color:              #8AC178;
    text-decoration:    underline; }
.linkpost:hover {
    color:              #C97D88;
    cursor:             pointer; }
main, header {
    max-width:              75em;
    /*min-width:          500px;*/
    /*padding:            0px 25px;*/
    margin:             0 auto;
    margin-bottom:      100px; }
main article>time {
    margin:             -15px 0;
    text-align:         center;
    font-size:          90%;
    display:            block; }
nav {
    text-align:         center;
    margin:             150px 50px;
    font-size:          15pt;
    line-height:        200%; }
nav a, #rotate_nav a {
    margin:             0px 30px;
    white-space:        nowrap; }
.original {
    color:              #255515; }
.original:hover {
    color:              #934953;
    cursor:             pointer; }
u {
    text-decoration: underline; }
.wrap {
    /*min-width: 500px;*/
    /*width: 960px;*/
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
    padding: 0; }
p
{
    /*min-width: 20em;*/
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body
    {
        line-height:        215%;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    body, nav
    {
        font-size: 200%;
    }
    article h2
    {
        font-size: 225%;
    }
    article
    {
        padding: 10px;
    }
    article p
    {
        line-height: 215%;
        font-size: 150%;
        /*padding: 10px;*/
    }
    main article>time {
        font-size: 100%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    body, nav
    {
        font-size: 200%;
    }
}
section
{
    /*margin-left:    50px;
    margin-right:   50px;*/
    padding: 0 50px;
}