#angled {
position:absolute;
background-color:transparent;
border-style:solid;
border-color:#807F17 transparent transparent
}

body {
margin:0;
padding:0;
line-height:150%;
font:120% sans-serif;
line-height:150%;
margin-bottom:250px;
display: none;
}

#box {
position:absolute;
left:313px;
top:100px;
height:229px;
width:469px;
z-index:1;
background-color:#807F17
}

#container {
position:absolute;
background-color:#807F17
}

#controls {
border:1px solid #999
}

#door {
position:absolute;
top:29px;
left:125px;
height:200px;
width:85px;
background-color:#222;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border-top-left-radius:5px;
border-top-right-radius:5px
}

flash {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    /*height: 100px;*/
    width: 25%;
    z-index: 2;
}

#fore_window,#aft_window {
height:50px;
width:100px;
background-color:#222;
display:none;
border-radius:5px
}

#fore_window {
position:absolute;
top:50px;
left:10px
}

#aft_window {
float:right;
width:150px;
position:relative;
top:-25px;
margin-right:25px
}

#images {
position:relative;
padding:180px 0 0 64px;
height:325px;
background-image:url(Images/concrete.png),url(Images/metal.png);
background-position:left bottom,left top;
background-repeat:repeat-x,repeat;
background-size:100px,100px
}

#images img {
position:absolute;
width:675px
}

input[type="radio"] {
vertical-align:middle;
margin-top:-1px
}

main {
width:1200px;
margin:0 auto;
}

#M1078 {
width:619px!important
}

#M1083 {
display:none
}

p {
margin:0;
padding:0
}

#passthrough {
height:229px;
width:67px;
background-color:#807F17;
display:none;
position:relative;
left:-65px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px
}

#topper {
position:absolute;
top:-50px;
left:198px;
border-style:solid;
border-width:0 0 52px 52px;
border-color:transparent transparent #807F17
}

table {
width:100%;
margin:0;
padding:0
}

tr {
border:1px dashed #999;
border-top:none
}

tr:first-of-type {
text-align:center;
background-color:#F0F0F0
}

tr:last-of-type td {
border-bottom:none
}

td {
border:1px dashed #999;
border-top:none;
padding:3px 10px;
width:2%;
padding:25px
}

td:first-of-type {
border-left:none;
border-right:none;
text-align:center
}

td:last-of-type {
border-right:none
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
body {
font-size:350%;
line-height:130%;
zoom:.7
}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
body {
font-size:250%;
line-height:150%;
zoom:.8
}
}

#vertical_ruler {
height:435px;
width:14px;
position:relative;
top:20px;
right:10px;
z-index:1;
float:right
}

.ft {
position:absolute;
border-top:1px solid #000;
width:100%
}

.ft:before {
position:absolute;
left:-15px;
top:-5px;
font:11px sans-serif
}

.ft:first-of-type {
top:7.14%
}

.ft:first-of-type:before {
content:"13"
}

.ft:nth-of-type(2) {
top:14.29%
}

.ft:nth-of-type(2):before {
content:"12"
}

.ft:nth-of-type(3) {
top:21.43%
}

.ft:nth-of-type(3):before {
content:"11"
}

.ft:nth-of-type(4) {
top:28.57%
}

.ft:nth-of-type(4):before {
content:"10"
}

.ft:nth-of-type(5) {
top:35.71%
}

.ft:nth-of-type(5):before {
content:"9"
}

.ft:nth-of-type(6) {
top:42.86%
}

.ft:nth-of-type(6):before {
content:"8"
}

.ft:nth-of-type(7) {
top:50%
}

.ft:nth-of-type(7):before {
content:"7"
}

.ft:nth-of-type(8) {
top:57.14%
}

.ft:nth-of-type(8):before {
content:"6"
}

.ft:nth-of-type(9) {
top:64.29%
}

.ft:nth-of-type(9):before {
content:"5"
}

.ft:nth-of-type(10) {
top:71.43%
}

.ft:nth-of-type(10):before {
content:"4"
}

.ft:nth-of-type(11) {
top:78.57%
}

.ft:nth-of-type(11):before {
content:"3"
}

.ft:nth-of-type(12) {
top:85.71%
}

.ft:nth-of-type(12):before {
content:"2"
}

.ft:nth-of-type(13) {
top:92.86%
}

.ft:nth-of-type(13):before {
content:"1"
}

.ft:nth-of-type(14) {
top:100%
}

.ft:nth-of-type(14):before {
content:"0"
}

.ft:nth-of-type(15) {
top:0
}

.ft:nth-of-type(15):before {
content:"14"
}

.in {
border-top:1px solid #000;
width:7px;
margin-top:100%;
float:right
}

#ruler {
padding:20px 64px;
background-image:url(Images/concrete.png);
background-size:100px
}

.ruler {
position:relative;
height:14px
}

.ruler .cm,.ruler .mm {
position:absolute;
border-left:1px solid #555;
height:14px;
width:10%
}

.ruler .cm:after {
position:absolute;
bottom:-15px;
left:-5px;
font:11px sans-serif
}

.ruler .mm {
height:5px
}

.ruler .mm:nth-of-type(5) {
height:10px
}

.ruler .cm:nth-of-type(1) {
left:0
}

.ruler .cm:nth-of-type(1):after {
content:"0";
left:-1px
}

.ruler .cm:nth-of-type(2) {
left:10%
}

.ruler .cm:nth-of-type(2):after {
content:"4";
left:-1px
}

.ruler .cm:nth-of-type(3) {
left:20%
}

.ruler .cm:nth-of-type(3):after {
content:"8";
left:-1px
}

.ruler .cm:nth-of-type(4) {
left:30%
}

.ruler .cm:nth-of-type(4):after {
content:"12"
}

.ruler .cm:nth-of-type(5) {
left:40%
}

.ruler .cm:nth-of-type(5):after {
content:"16"
}

.ruler .cm:nth-of-type(6) {
left:50%
}

.ruler .cm:nth-of-type(6):after {
content:"20"
}

.ruler .cm:nth-of-type(7) {
left:60%
}

.ruler .cm:nth-of-type(7):after {
content:"24"
}

.ruler .cm:nth-of-type(8) {
left:70%
}

.ruler .cm:nth-of-type(8):after {
content:"28"
}

.ruler .cm:nth-of-type(9) {
left:80%
}

.ruler .cm:nth-of-type(9):after {
content:"32"
}

.ruler .cm:nth-of-type(10) {
left:90%
}

.ruler .cm:nth-of-type(10):after {
content:"36"
}

.ruler .cm:nth-of-type(11) {
left:100%
}

.ruler .cm:nth-of-type(11):after {
content:"40"
}

.ruler .mm:nth-of-type(1) {
left:10%
}

.ruler .mm:nth-of-type(2) {
left:20%
}

.ruler .mm:nth-of-type(3) {
left:30%
}

.ruler .mm:nth-of-type(4) {
left:40%
}

.ruler .mm:nth-of-type(5) {
left:50%
}

.ruler .mm:nth-of-type(6) {
left:60%
}

.ruler .mm:nth-of-type(7) {
left:70%
}

.ruler .mm:nth-of-type(8) {
left:80%
}

.ruler .mm:nth-of-type(9) {
left:90%
}

.ruler .mm:nth-of-type(10) {
left:100%
}