#angled
{
    position: absolute;
    background-color: transparent;

    border-style: solid;
    border-color: #807F17 transparent transparent transparent;
}
body
{
    margin: 0;
    padding: 0;
}
#box
{
    position: absolute;
    left: 337px;
    top: 104px;
    height: 229px;
    width: 469px;
    z-index: 1;
    background-color: #807F17;
}
#container
{
    position: absolute;
    background-color: #807F17;
}
#controls {
    border: 1px solid #999999;
}
#door {
    position: absolute;
    top: 29px;
    left: 100px;
    height: 200px;
    width: 85px;
    background-color: #222222;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#images
{
    position: relative;
    padding: 10em 0 0 3em;
    height: 325px;
    background-image: url("Images/concrete.png"), url("Images/metal.png");
    background-position: left bottom, left top;
    background-repeat: repeat-x, repeat;
    background-size: 100px, 100px;
}
#images img
{
    /*opacity: .7;*/
    position: absolute;
    width: 49em;
}
main
{
    width: 70em;
    margin: 0 auto;
    display: none;
}
#M1078
{
    width: 45em !important;
}
#M1083
{
    display: none;
}
p {
    margin: 0;
    padding: 0;
}
#passthrough
{
    height: 229px;
    width: 75px;
    background-color: #807F17;
    display: none;
    position: relative;
    left: -75px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}
#topper
{
    position: absolute;
    top: -50px;
    left: 200px;

    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #807F17 transparent;
}
table {
    width: 100%;
    margin: 0;
    padding: 0;
}
tr:first-of-type {
    text-align: center;
    background-color: #F0F0F0;
}
tr:last-of-type td {
    border-bottom: none;
}
td {
    border: 1px dashed #999999;
    border-top: none;
    padding: 3px 10px;
    width: 2%;
}
td:first-of-type {
    border-left: none;
}
td:nth-of-type(2) {
    border: none;
    border-bottom: 1px dashed #999999;
}
td:last-of-type {
    border-right: none;
}
/* Ruler CSS */
#ruler {
    padding: 20px 3em;
    background-image: url("Images/concrete.png");
    background-size: 100px;
}
.ruler {
 position: relative;
 /*margin: 20px auto;*/
 height: 14px;
}
.ruler .cm,
.ruler .mm {
 position: absolute;
 border-left: 1px solid #555;
 height: 14px;
 width: 10%;
}
.ruler .cm:after {
 position: absolute;
 bottom: -15px;
 font: 11px/1 sans-serif;
}
.ruler .mm {
 height: 5px;
}
.ruler .mm:nth-of-type(5) {
 height: 10px;
}
.ruler .cm:nth-of-type(1) {
 left: 0%;
}
.ruler .cm:nth-of-type(1):after {
 content: "0";
}
.ruler .cm:nth-of-type(2) {
 left: 10%;
}
.ruler .cm:nth-of-type(2):after {
 content: "3";
}
.ruler .cm:nth-of-type(3) {
 left: 20%;
}
.ruler .cm:nth-of-type(3):after {
 content: "6";
}
.ruler .cm:nth-of-type(4) {
 left: 30%;
}
.ruler .cm:nth-of-type(4):after {
 content: "9";
}
.ruler .cm:nth-of-type(5) {
 left: 40%;
}
.ruler .cm:nth-of-type(5):after {
 content: "12";
}
.ruler .cm:nth-of-type(6) {
 left: 50%;
}
.ruler .cm:nth-of-type(6):after {
 content: "15";
}
.ruler .cm:nth-of-type(7) {
 left: 60%;
}
.ruler .cm:nth-of-type(7):after {
 content: "18";
}
.ruler .cm:nth-of-type(8) {
 left: 70%;
}
.ruler .cm:nth-of-type(8):after {
 content: "21";
}
.ruler .cm:nth-of-type(9) {
 left: 80%;
}
.ruler .cm:nth-of-type(9):after {
 content: "24";
}
.ruler .cm:nth-of-type(10) {
 left: 90%;
}
.ruler .cm:nth-of-type(10):after {
 content: "27";
}
.ruler .cm:nth-of-type(11) {
 left: 100%;
}
.ruler .cm:nth-of-type(11):after {
 content: "30";
}
.ruler .mm:nth-of-type(1) {
 left: 10%;
}
.ruler .mm:nth-of-type(2) {
 left: 20%;
}
.ruler .mm:nth-of-type(3) {
 left: 30%;
}
.ruler .mm:nth-of-type(4) {
 left: 40%;
}
.ruler .mm:nth-of-type(5) {
 left: 50%;
}
.ruler .mm:nth-of-type(6) {
 left: 60%;
}
.ruler .mm:nth-of-type(7) {
 left: 70%;
}
.ruler .mm:nth-of-type(8) {
 left: 80%;
}
.ruler .mm:nth-of-type(9) {
 left: 90%;
}
.ruler .mm:nth-of-type(10) {
 left: 100%;
}