#angled {
position:absolute;
background-color:transparent;
border-style:solid;
border-color:#807F17 transparent transparent
}

body {
margin:0;
padding:0;
line-height:150%;
font:120% sans-serif;
line-height:150%;
margin-bottom:250px;
display: none;
}

#box {
position:absolute;
left:313px;
top:100px;
height:229px;
width:469px;
z-index:1;
background-color:#807F17
}

#container {
position:absolute;
background-color:#807F17
}

#controls {
border:1px solid #999
}

#door {
position:absolute;
top:29px;
left:125px;
height:200px;
width:85px;
background-color:#222;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
border-top-left-radius:5px;
border-top-right-radius:5px
}

flash {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    /*height: 100px;*/
    width: 25%;
    z-index: 2;
}

#fore_window,#aft_window {
height:50px;
width:100px;
background-color:#222;
display:none;
border-radius:5px
}

#fore_window {
position:absolute;
top:50px;
left:10px
}

#aft_window {
float:right;
width:150px;
position:relative;
top:-25px;
margin-right:25px
}

#images {
position:relative;
padding:180px 0 0 64px;
height:325px;
background-image:url(Images/concrete.png),url(Images/metal.png);
background-position:left bottom,left top;
background-repeat:repeat-x,repeat;
background-size:100px,100px
}

#images img {
position:absolute;
width:675px
}

input[type="radio"] {
vertical-align:middle;
margin-top:-1px
}

main {
width:1200px;
margin:0 auto;
}

#M1078 img {
width:619px!important
}

#M1083 {
display:none
}

p {
margin:0;
padding:0
}

#passthrough {
height:229px;
width:67px;
background-color:#807F17;
display:none;
position:relative;
left:-65px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px
}

#topper {
position:absolute;
top:-50px;
left:198px;
border-style:solid;
border-width:0 0 52px 52px;
border-color:transparent transparent #807F17
}

table {
width:100%;
margin:0;
padding:0
}

tr {
border:1px dashed #999;
border-top:none
}

tr:first-of-type {
text-align:center;
background-color:#F0F0F0
}

tr:last-of-type td {
border-bottom:none
}

td {
border:1px dashed #999;
border-top:none;
padding:3px 10px;
width:2%;
padding:25px
}

td:first-of-type {
border-left:none;
border-right:none;
text-align:center
}

td:last-of-type {
border-right:none
}

#vertical_ruler {
height:435px;
width:14px;
position:relative;
top:20px;
right:10px;
z-index:1;
float:right
}
.ft {
position:absolute;
border-top:1px solid #000;
width:100%;
font-size: 65%;
}
.ft span {
position:absolute;
left:-1.4em;
top:-1.15em;
font-family: sans-serif;
text-align: right;
}
.fd:nth-of-type(1) {
top: 0;
}
.ft:nth-of-type(2) {
top:7.14%
}
.ft:nth-of-type(3) {
top:14.29%
}
.ft:nth-of-type(4) {
top:21.43%
}
.ft:nth-of-type(5) {
top:28.57%
}
.ft:nth-of-type(6) {
top:35.71%
}
.ft:nth-of-type(7) {
top:42.86%
}
.ft:nth-of-type(8) {
top:50%
}
.ft:nth-of-type(9) {
top:57.14%
}
.ft:nth-of-type(10) {
top:64.29%
}
.ft:nth-of-type(11) {
top:71.43%
}
.ft:nth-of-type(12) {
top:78.57%
}
.ft:nth-of-type(13) {
top:85.71%
}
.ft:nth-of-type(14) {
top:92.86%
}
.ft:nth-of-type(15) {
top:100%
}
.in {
border-top:1px solid #000;
width:7px;
margin-top:100%;
float:right
}

#horizontal_ruler {
padding:20px 64px;
background-image:url(Images/concrete.png);
background-size:100px
}
.ruler {
position:relative;
height:14px;
margin-bottom: 1em;
}
.ruler div,.ruler span {
position:absolute;
border-left:1px solid #555;
height:14px;
width:10%
}
.ruler div p {
position:absolute;
bottom:-1.25em;
left: -0.25em;
font: 65% sans-serif;
}
.ruler span {
height:5px
}
.ruler span:nth-of-type(5) {
height:10px
}
.ruler div:nth-of-type(1) {
left:0
}
.ruler div:nth-of-type(2) {
left:10%
}
.ruler div:nth-of-type(3) {
left:20%
}
.ruler div:nth-of-type(4) {
left:30%
}
.ruler div:nth-of-type(5) {
left:40%
}
.ruler div:nth-of-type(6) {
left:50%
}
.ruler div:nth-of-type(7) {
left:60%
}
.ruler div:nth-of-type(8) {
left:70%
}
.ruler div:nth-of-type(9) {
left:80%
}
.ruler div:nth-of-type(10) {
left:90%
}
.ruler div:nth-of-type(11) {
left:100%
}
.ruler span:nth-of-type(1) {
left:10%
}
.ruler span:nth-of-type(2) {
left:20%
}
.ruler span:nth-of-type(3) {
left:30%
}
.ruler span:nth-of-type(4) {
left:40%
}
.ruler span:nth-of-type(5) {
left:50%
}
.ruler span:nth-of-type(6) {
left:60%
}
.ruler span:nth-of-type(7) {
left:70%
}
.ruler span:nth-of-type(8) {
left:80%
}
.ruler span:nth-of-type(9) {
left:90%
}
.ruler span:nth-of-type(10) {
left:100%
}
/* Media Queries */

/* iPhone XS */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
body {
font-size:350%;
line-height:130%;
zoom:.3;
}
.ft span {
font-size: 25%;
}
.ruler div p {
    font-size: 25%;
}
}