{% extends "layout.html" %}
{% block body %}
<article>
    2012/12/29 14:55:30: <a href="/blog/heart-beats-for-music">Heart Beats for Music
</a>
</article>
<article>
    2012/12/29 13:47:11: <a href="/blog/nasdaq-dubstep">NASDAQ Dubstep
</a>
</article>
<article>
    2012/12/28 22:37:12: <a href="/blog/dangerous-toys">In Praise of Dangerous Toys
</a>
</article>
<article>
    2012/12/26 20:00:33: <a href="/blog/writing-on-the-ipad">Writing on the iPad
</a>
</article>
<article>
    2012/12/26 13:24:33: <a href="/blog/pageviews-and-readerships">Pageviews are Easy, Readerships are Hard
</a>
</article>
<article>
    2012/12/25 22:56:36: <a href="/blog/balking">Balking
</a>
</article>
<article>
    2012/12/25 22:14:23: <a href="/blog/real-men-and-intentions">Real Men and Intentions
</a>
</article>
<article>
    2012/12/24 12:50:28: <a href="/blog/christmas-break">Christmas Break
</a>
</article>
<article>
    2012/12/13 15:55:41: <a href="/blog/instacast-3">Instacast 3 and Paid Upgrades
</a>
</article>
<article>
    2012/12/11 22:12:34: <a href="/blog/meet-the-oatmeal">BuzzFeed, Meet The Oatmeal
</a>
</article>
<article>
    2012/12/10 13:36:00: <a href="/blog/app-segmentation">App Segmentation
</a>
</article>
<article>
    2012/12/09 12:21:24: <a href="/blog/two-years-later">Two Years Later
</a>
</article>
<article>
    2012/12/08 20:41:27: <a href="/blog/ipad-creation">iPad Creation
</a>
</article>
<article>
    2012/12/06 09:08:35: <a href="/blog/reinventing-the-linkblog">Reinventing the Linkblog
</a>
</article>
<article>
    2012/12/03 11:45:31: <a href="/blog/its-not-just-techcrunch">It's Not Just TechCrunch
</a>
</article>
{% endblock %}