{% extends "layout.html" %}
{% block body %}
<article>
    2013/08/24 19:41:45: <a href="/blog/the-television-revolution">The Television Revolution
</a>
</article>
<article>
    2013/08/24 19:41:38: <a href="/blog/the-macrumors-buying-guide">The MacRumors Buying Guide
</a>
</article>
<article>
    2013/08/24 19:41:33: <a href="/blog/quickly-navigate-your-filesystem">Quickly navigate your filesystem from the command-line
</a>
</article>
<article>
    2013/08/24 13:24:47: <a href="/blog/chinas-yellow-mountains">China's Yellow Mountains
</a>
</article>
<article>
    2013/08/24 13:23:18: <a href="/blog/machines-in-nature">A Fantastic Yet Familiar Future of Machines in Nature
</a>
</article>
<article>
    2013/08/19 16:02:11: <a href="/blog/starring-a-tit">Jobs Review: A Movie About a Titan Starring a Tit
</a>
</article>
<article>
    2013/08/19 16:00:06: <a href="/blog/an-untenable-goal">An Untenable Goal
</a>
</article>
<article>
    2013/08/15 17:09:53: <a href="/blog/language-skills">Language Skills
</a>
</article>
<article>
    2013/08/14 18:19:41: <a href="/blog/working-in-the-shed">Working in the Shed
</a>
</article>
<article>
    2013/08/12 22:20:21: <a href="/blog/jim-dalrymple-on-the-september-10-iphone-event">Jim Dalrymple on Apple's rumored September 10 iPhone event
</a>
</article>
<article>
    2013/08/12 22:17:12: <a href="/blog/thor:-the-dark-world-trailer">'Thor: The Dark World' Trailer
</a>
</article>
<article>
    2013/08/12 22:02:55: <a href="/blog/the-new-instapaper-web-beta">The new Instapaper web beta
</a>
</article>
<article>
    2013/08/12 21:58:17: <a href="/blog/are-you-a-real-writer">Are You a Real Writer?
</a>
</article>
<article>
    2013/08/11 19:19:43: <a href="/blog/unfair-platform-advantage">Unfair Platform Advantage
</a>
</article>
<article>
    2013/08/11 19:19:12: <a href="/blog/the-september-iphone-launch">The September iPhone Launch
</a>
</article>
<article>
    2013/08/07 19:57:34: <a href="/blog/jeff-bezos-is-playing-chess">While We're Trying To Follow His Game Of Checkers, Jeff Bezos Is Playing Chess
</a>
</article>
<article>
    2013/08/07 19:46:45: <a href="/blog/8-changes-apple-made-in-ios-7-beta-5">8 Changes Apple Made In iOS 7 Beta 5
</a>
</article>
<article>
    2013/08/07 19:46:41: <a href="/blog/bitsplitting-podcast-hiatus">Bitsplitting Podcast Hiatus
</a>
</article>
<article>
    2013/08/07 19:44:53: <a href="/blog/give-yourself-a-break">Give Yourself a Break
</a>
</article>
<article>
    2013/08/06 20:07:37: <a href="/blog/mg-siegler-on-amazon-strategy">Jeff Bezos's Strategy With Amazon
</a>
</article>
<article>
    2013/08/06 20:00:31: <a href="/blog/snark">Worst Idea So Far This Week, But the Week Is Young
</a>
</article>
<article>
    2013/08/04 21:35:18: <a href="/blog/xkcd-time">XKCD 'Time'
</a>
</article>
<article>
    2013/08/04 21:30:02: <a href="/blog/where-is-the-android-john-gruber">Where is the Android John Gruber?
</a>
</article>
<article>
    2013/08/04 21:29:50: <a href="/blog/swimming-in-a-sea-of-shit">Swimming in a Sea of Shit
</a>
</article>
{% endblock %}