{% extends "layout.html" %}
{% block body %}
<article>
    2013/06/21 13:20:51: <a href="/blog/safety-nets">Safety Nets
</a>
</article>
<article>
    2013/06/20 19:54:24: <a href="/blog/subscribed-to-matt-gemmell">Matt Gemmell
</a>
</article>
<article>
    2013/06/20 19:54:07: <a href="/blog/persuading-david-simon">Persuading David Simon
</a>
</article>
<article>
    2013/06/19 22:06:04: <a href="/blog/ios-7-and-apps-with-personality">iOS 7 and Apps With Personality
</a>
</article>
<article>
    2013/06/16 18:08:16: <a href="/blog/morass">iOS 7 and the rejection of the unfamiliar
</a>
</article>
<article>
    2013/06/16 17:56:47: <a href="/blog/band-of-minions">Acquisition and maintenance of a band of minions
</a>
</article>
<article>
    2013/06/16 17:55:20: <a href="/blog/faded-avocado">Faded Avocado
</a>
</article>
<article>
    2013/06/13 09:45:36: <a href="/blog/we-just-redesigned-readwrite">We Just Redesigned ReadWrite
</a>
</article>
<article>
    2013/06/13 09:12:05: <a href="/blog/windows-8-ad">Microsoft turns Siri against Apple
</a>
</article>
<article>
    2013/06/12 21:24:24: <a href="/blog/fertile-ground">Fertile Ground
</a>
</article>
<article>
    2013/06/12 21:12:27: <a href="/blog/bang-youre-dead">Bang, You're Dead. Signed, Tim Cook.
</a>
</article>
<article>
    2013/06/12 21:09:36: <a href="/blog/why-nintendo-wont-make-games-for-smartphones">Why Nintendo Won't Make Games for Smartphones
</a>
</article>
<article>
    2013/06/12 17:56:19: <a href="/blog/matt-gemmel-on-ios-7">Matt Gemmel on iOS 7
</a>
</article>
<article>
    2013/06/12 17:12:56: <a href="/blog/anti-ios-7-anger">Anti-iOS 7 Anger
</a>
</article>
<article>
    2013/06/12 17:05:53: <a href="/blog/how-i-survived-a-week-without-food">How I Survived A Week Without Food
</a>
</article>
<article>
    2013/06/11 19:11:55: <a href="/blog/im-buying-a-mac">Alright Tim, I'm Buying a Mac
</a>
</article>
<article>
    2013/06/11 18:57:12: <a href="/blog/the-journal">The Journal
</a>
</article>
<article>
    2013/06/03 17:00:24: <a href="/blog/writing-vs-writing">Writing vs. Writing
</a>
</article>
{% endblock %}