{% extends "layout.html" %}
{% block body %}
<article>
    2013/07/24 18:37:04: <a href="/blog/the-one-episode-story">The One-Episode Story
</a>
</article>
<article>
    2013/07/22 18:39:29: <a href="/blog/the-beauty-of-a-limited-run">The Beauty of a Limited Run
</a>
</article>
<article>
    2013/07/21 12:42:32: <a href="/blog/an-edgy-iphone-6-concept">An Edgy iPhone 6 Concept
</a>
</article>
<article>
    2013/07/20 15:09:50: <a href="/blog/an-honest-challenge">Custom Difficulty Gives an Honest Challenge
</a>
</article>
<article>
    2013/07/15 17:29:00: <a href="/blog/downloadable">The revolution will be downloaded
</a>
</article>
<article>
    2013/07/14 11:18:37: <a href="/blog/a-greater-barrier">In Search of a Greater Barrier
</a>
</article>
<article>
    2013/07/14 10:57:44: <a href="/blog/nothing-more-than-a-theory">Nothing More than a Theory
</a>
</article>
<article>
    2013/07/09 20:59:19: <a href="/blog/framing-the-entry-level-iphone">Framing the Entry Level iPhone
</a>
</article>
<article>
    2013/07/09 20:13:22: <a href="/blog/effecting-change-from-the-outside">Effecting Change From The Outside
</a>
</article>
<article>
    2013/07/09 20:12:32: <a href="/blog/glass-teepee">Glass Teepee
</a>
</article>
<article>
    2013/07/09 19:47:38: <a href="/blog/relegated-to-a-lookalike">Relegated to a Lookalike
</a>
</article>
<article>
    2013/07/09 19:47:33: <a href="/blog/the-halfway-phone">The Halfway Phone
</a>
</article>
<article>
    2013/07/06 14:08:34: <a href="/blog/apples-wildcard">Apple's Wildcard
</a>
</article>
<article>
    2013/07/04 15:45:51: <a href="/blog/what-happened-to-instapaper">What Happened to Instapaper?
</a>
</article>
<article>
    2013/07/04 09:43:35: <a href="/blog/not-just-for-sexting">Snapchat: Not Just for Sexting
</a>
</article>
<article>
    2013/07/02 21:55:28: <a href="/blog/working-on-an-app-redesign">"Working on an app redesign...
</a>
</article>
<article>
    2013/07/01 21:45:58: <a href="/blog/digg-reader">Bring it in, Betaworks
</a>
</article>
<article>
    2013/07/01 20:08:47: <a href="/blog/bye-instacast">Bye Instacast
</a>
</article>
{% endblock %}