{% extends "layout.html" %}
{% block body %}
<table id="big_table">
    <tr>
        <td><a href="/blog/2014-12">December</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-11">November</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-10">October</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-09">September</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-08">August</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-07">July</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-06">June</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-05">May</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-04">April</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-03">March</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-02">February</a></td>
    </tr>
    <tr>
        <td><a href="/blog/2014-01">January</a></td>
    </tr>
</table>
{% endblock %}