{% extends "layout.html" %}
{% block body %}
<article>
    2014/10/28 12:10:59: <a href="/blog/thank-you-freedom-signed-ebola">Thank You, Freedom. Signed, Ebola.
</a>
</article>
<article>
    2014/10/22 09:03:00: <a href="/blog/who-we-are">Who We Are
</a>
</article>
<article>
    2014/10/21 19:34:03: <a href="/blog/os-x-yosemite">OS X Yosemite: If This Doesn't Make You An Apple Guy, Nothing Will
</a>
</article>
<article>
    2014/10/20 17:55:07: <a href="/blog/the-end-of-this-week-in-podcasts">The End of This Week in Podcasts
</a>
</article>
<article>
    2014/10/13 08:03:30: <a href="/blog/cascade-mountains-excursion">Cascade Mountains Excursion
</a>
</article>
<article>
    2014/10/12 10:58:07: <a href="/blog/this-week-in-podcasts-10614">This Week in Podcasts
</a>
</article>
<article>
    2014/10/10 08:14:26: <a href="/blog/sabi-sands-game-reserve">Sabi Sands Game Reserve, South Africa
</a>
</article>
<article>
    2014/10/09 19:16:54: <a href="/blog/plastc">Plastc: Everything Coin Should Have Been
</a>
</article>
<article>
    2014/10/08 08:27:07: <a href="/blog/viewfinder">Viewfinder: Above America
</a>
</article>
<article>
    2014/10/07 13:43:02: <a href="/blog/the-new-american-dustbowl">The New American Dustbowl
</a>
</article>
<article>
    2014/10/06 08:21:05: <a href="/blog/last-steps-on-the-pacific-northwest-trail">Last Steps on the Pacific Northwest Trail
</a>
</article>
<article>
    2014/10/05 18:27:45: <a href="/blog/this-week-in-podcasts-92914">This Week in Podcasts
</a>
</article>
<article>
    2014/10/03 10:42:32: <a href="/blog/typographic-design-patterns">Typographic Design Patterns and Best Practices
</a>
</article>
<article>
    2014/10/02 11:36:25: <a href="/blog/10-typeface-pairs-for-cash-poor-designers">10 Typeface Pairs for Cash-Poor Designers
</a>
</article>
<article>
    2014/10/01 17:37:15: <a href="/blog/cabin-porn-roundup-914">Cabin Porn Roundup
</a>
</article>
{% endblock %}