<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="Post Archives - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            Post Archives - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="archives">
        <header><article>
<p>
August, <a href="/blog/2014">2014</a>
</p>
</article></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    2014/08/31 07:22:43: <a href="/blog/this-week-without-podcasts-83014">This Week Without Podcasts
</a>
</article>
<article>
    2014/08/30 07:38:39: <a href="/blog/conjecture-regarding-larger-iphone-displays">Conjecture Regarding Larger iPhone Displays
</a>
</article>
<article>
    2014/08/29 08:10:27: <a href="/blog/curation-gone-wrong">Curation Gone Wrong
</a>
</article>
<article>
    2014/08/27 08:08:49: <a href="/blog/we-dont-need-no-education">We Don't Need No Education
</a>
</article>
<article>
    2014/08/26 13:26:31: <a href="/blog/alone-with-lions">Alone With Lions
</a>
</article>
<article>
    2014/08/25 07:59:48: <a href="/blog/looking-to-the-future">Looking to the Future
</a>
</article>
<article>
    2014/08/24 08:27:32: <a href="/blog/this-week-in-podcasts-81814">This Week in Podcasts
</a>
</article>
<article>
    2014/08/23 08:49:06: <a href="/blog/how-to-build-your-own-cabin">How to Build Your Own Cabin
</a>
</article>
<article>
    2014/08/22 12:22:54: <a href="/blog/zero-value-added">Zero Value Added
</a>
</article>
<article>
    2014/08/21 07:20:06: <a href="/blog/note-on-cheap-iphones">Note on cheap iPhones
</a>
</article>
<article>
    2014/08/20 07:39:30: <a href="/blog/how-to-be-creative">How to be Creative in One Simple Step
</a>
</article>
<article>
    2014/08/19 08:28:42: <a href="/blog/kiravan">KiraVan
</a>
</article>
<article>
    2014/08/18 08:09:48: <a href="/blog/mercedes-benz-unimog">Mercedes-Benz Unimog Doppelkabine
</a>
</article>
<article>
    2014/08/17 21:21:34: <a href="/blog/this-week-in-podcasts-72714">This Week in Podcasts
</a>
</article>
<article>
    2014/08/17 21:21:14: <a href="/blog/cabin-porn-roundup-713">Cabin Porn Roundup
</a>
</article>
<article>
    2014/08/01 23:06:01: <a href="/blog/adulting">Adulting
</a>
</article>
<article>
    2014/08/01 06:59:05: <a href="/blog/a-dying-breed">A Dying Breed
</a>
</article>

            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>