{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="https://twitter.com/asymco/status/378421955411857409" class="linkpost">700 Million Devices</a>
    </h2>
    <time datetime="2013-09-15" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/09">09</a>/15 10:09:38
</time>

    
    <p>Far be it from me to step on Horace Dedeiu or Benedict Evan&#8217;s toes in my &#8220;analysis&#8221;, if you could call it that, of this graph Horace posted yesterday, but I do believe it tells us something interesting about how successful Apple believes the iPhone 5C will be.</p>
    
    <p>In previous quarters, as Horace&#8217;s trend shows, the iPhone grew at an increasing rate with each successive launch. That is, Apple&#8217;s device sales did not increase linearly with each new phone, but increased in growth rate upon each release giving a nice, curved ramp in cumulative devices sold. At the far right of this trend we have Tim Cook&#8217;s claim that iPhone shipments will reach 700 million by October, indicating a sharp uptake in iPhone sales from the norm.</p>
    
    <p>The interesting question here is why he expects this jump. Every other year when Apple introduced revolutionary phones, the company forecasted no such spike. So given this, we cannot attribute such a jump to the 5S no matter how great a device. The credit, instead, must go to the 5C, which marked a distinct change in Apple&#8217;s product marketing; no other significant change occurred to which we can attribute this increase.</p>
    
    <p>It&#8217;s interesting to see the level of faith Tim Cook has in this new device line. Whether that faith will bbe justified, however, remains to be seen.</p>
</div>
</article>
{% endblock %}