{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.nfl.com/news/story/0ap1000000099065/article/justin-forsett-houston-texans-gifted-a-touchdown" class="linkpost">A Series of Unfortunate Events</a>
    </h2>
    <time datetime="2012-11-22" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2012">2012</a>/<a href="/blog/2012/11">11</a>/22 23:19:11
</time>

    
    <p>The controversial touchdown during the third quarter of this afternoon&#8217;s Houston-Detroit football game left me shaking my head for the rest of the day. Marc Sessler summed it up perfectly in his article <a href="http://www.nfl.com/news/story/0ap1000000099065/article/justin-forsett-houston-texans-gifted-a-touchdown"><em>Justin Forsett, Houston Texans gifted a touchdown</em></a>: the Texans certainly were gifted a touchdown, and unfortunately that touchdown gave them the edge they needed to beat Detroit in overtime.</p>
</div>
</article>
{% endblock %}