{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="a-year-without-the-internet" class="original">A Year Without the Internet</a>
    </h2>
    <time datetime="2013-05-13" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/05">05</a>/13 16:30:52
</time>

    
    <p>Over the year he spent without the internet, Paul Miller wrote <a href="http://www.theverge.com/2012/5/8/3007525/paul-miller-offline">thirty-five articles</a> for The Verge. I have only gotten to a few of these dispatches so far, but I already added the rest to my Instapaper queue. This isn&#8217;t <em>just</em> a story about a guy who got tired of the internet; it&#8217;s a story about a guy who got tired of the internet, an interesting story about a guy who did something about it, and a moving story about how that decision effected his life. It would be impossible for me to praise this venture enough to give Paul Miller the credit he is due, so just go and read about it. Start with the first post, aptly titled <a href="http://www.theverge.com/2012/4/30/2988798/paul-miller-year-without-internet/in/2771566"><em>I&#8217;m leaving the internet for a year</em></a>.</p>
</div>
</article>
{% endblock %}