{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.techinasia.com/stratechery-solo-ben-thompson-asia-apple-shifting-tides-online-media/" class="linkpost">An Interview with Ben Thompson</a>
    </h2>
    <time datetime="2014-04-18" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/04">04</a>/18 07:14:11
</time>

    
    <p>Josh Horwitz, writing for Tech in Asia, conducted a great interview with Ben Thompson about his decision to go solo, and his background as a writer in the tech sector. If you&#8217;re still on the fence as to whether you should become a member of Stratechery or not, both this interview and <a href="http://thenextweb.com/media/2014/04/16/tech-blog-stratechery-goes-freemium-ben-thompson-strikes-indie-writer/">another article from The Next Web by Jon Russell</a> on Ben&#8217;s transition to independent writer ought to convince you. Ben knows what he&#8217;s talking about: he has an impressive background that gives him fantastic insight into modern-day events within nearly every industry technology touches. And even at $30 a month&#160;&#8212;&#160;disregarding the existence of the two lower membership tiers at $5 and $10 a month&#160;&#8212;&#160;access to those insights is a steal.</p>
</div>
</article>
{% endblock %}