{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.thenewsprint.co/blog/-analogs-stranglehold-of-the-classroom" class="linkpost">Analog's Stranglehold of the Classroom</a>
    </h2>
    <time datetime="2014-04-22" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/04">04</a>/22 15:42:51
</time>

    
    <p>Interesting retrospective by Josh Ginter over at The Newsprint on his time in college and how, then, higher education seemed to approve more of analog note taking than digital, and why. Thankfully, that has largely ceased to be the case: in my last two semesters in college, I can think of only two classes&#160;&#8212;&#160;math and Chinese, for during both those courses a romanized alphabet would have proved virtually worthless&#160;&#8212;&#160;during which no one had a computer out. Aside from those two, it has become par for the course to use some sort of electronic device during class, whether a laptop or tablet, and for the most part teachers have accepted this. Great&#160;&#8212;&#160;but personally, I&#8217;m more of a pen and paper kind of guy; for the foreseeable future, at least, analog will maintain its stranglehold on my classroom experience.</p>
</div>
</article>
{% endblock %}