{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.marco.org/2013/03/20/android-under-new-google" class="linkpost">Android under New Google</a>
    </h2>
    <time datetime="2013-03-22" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/03">03</a>/22 11:49:33
</time>

    
    <p>Speaking of <a href="/blog/why-i-left-google">New Google</a>, Marco talks about what it could mean for the future of Android. Particularly interesting to me were his final thoughts at the end of the piece:</p>
    
    <blockquote>
<p>&#8220;Old Google made Android. New Google is much more strategic, cold, and focused. Let’s see what they do to it."</p>
</div>
</article>
{% endblock %}