{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="anti-ios-7-anger" class="original">Anti-iOS 7 Anger</a>
    </h2>
    <time datetime="2013-06-12" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/06">06</a>/12 17:12:56
</time>

    </blockquote>

    <p>I try to, for the most part, stay positive when I write on here. Instead of taking a page out of Jim Dalrymple&#8217;s play book, not that there is anything wrong with his approach, and calling shenanigans and bullshit when I see shenanigans and bullshit, I try to &#8220;take the high road&#8221; and either ignore bad writing and poorly-formed opinions altogether, or criticize them generously. In the wake of the iOS 7 announcement though, many people have said things that I consider&#160;&#8212;&#160;quite frankly&#160;&#8212;&#160;stupid, especially concerning iOS 7&#8217;s overhauled interface.</p>
    
    <p>Last night I came across Josh Topolsky&#8217;s article <a href="http://www.theverge.com/apple/2013/6/10/4416726/the-design-of-ios-7-simply-confusing"><em>The Design of iOS 7: Simply Confusing</em></a>, and I had to write about it. Maybe because I was tired, or maybe because I have a tendency to come upon Josh&#8217;s work only when his and my opinions are at extreme odds, I decided that I could not let this farcical work stand unopposed; I could not let it go uncriticized. I don&#8217;t mean to single out Josh and his opinions, for they are not an uncommon sentiment in the Apple nerd community; his article was merely the straw that broke the camel&#8217;s back, so to speak.</p>
    
    <p>Starting at the top of the article, Josh began on a sane, level-headed note:</p>
    
    <blockquote>
<p>&#8220;What I saw today at Apple’s annual WWDC event in the new iOS 7 was a radical departure from the previous design of the company’s operating system — what CEO Tim Cook called &#8216;a stunning new user interface.'"</p>
    </blockquote>

    <p>So far so good. In his first sentence, Josh echoed a very widespread observation. After six years sporting nearly the same design it debuted with, iOS was due for the major face lift it received in iOS 7.</p>
    
    <blockquote>
<p>&#8220;But whether this new design is actually good design, well, that’s a different story entirely.&#8221;</p>
    </blockquote>

    <p>This is the line that got me, the one that made me want to write this. iOS 7 is still iOS no matter how you look at it. Underneath the translucent panes, the control center, and the revamped icon sets, the same iOS underpinnings we have come to know and love still drive the operating system: the core functionality of the platform remained the same; the new user interface did not change that. So arguing &#8220;whether this new design is actually good design&#8221; becomes an argument based on aesthetics, conjecturing as to whether the look and feel of iOS&#8217;s latest iteration is, in fact, good design. And while the opinions on this topic vary widely, I can&#8217;t help but answer with a resounding &#8220;YES&#8221;, as I am sure most will in time.</p>
    
    <p>Josh went on to discuss other aspects of the new design, but I will not dissect them here: I have made my point. In the wake of the WWDC keynote, many seem to have forgotten this simple fact: iOS 7 is still iOS, just updated for the next generation of mobile devices. This is what innovation looks like, and Apple came out swinging yesterday with these amazing innovations. &#8220;Can&#8217;t innovate, my ass."</p>
</div>
</article>
{% endblock %}