{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="cabin-porn-roundup-914" class="original">Cabin Porn Roundup</a>
    </h2>
    <time datetime="2014-10-01" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/10">10</a>/01 17:37:15
</time>

    
    <p>Another installment in my ongoing Cabin Porn Roundup series, where I collect interesting pictures of cabins and cool stories about the outdoors from across the world and present them in a single location. Much like my &#8220;This Week in Podcasts&#8221; series, I feature only the best of the best here. Enjoy.</p>
    
    <div class="image"><img src="/'Images/Antalay-Turkey.jpg') }}" alt="Shack in Antalya, Turkey" title="Shack in Antalya, Turkey"></div>
    <br />
    <p>It&#8217;s a little run-down, it&#8217;s probably seen better days, but <a href="http://cabinporn.com/post/97141157742/shack-in-olympos-near-antalya-turkey">this little shack in Antalya, Turkey,</a> is beautifully simple as well. I especially like the crystal clear, seemingly impossibly light blue water in front of it. That water reminds me of the untouched beaches of a small island in The Bahamas, San Salvador, and the great time I had down there. Oh, the memories.</p>
    
    <div class="image"><img src="/'Images/Invisible-studio.jpg') }}" alt="Invisible Studio" title="Invisible Studio"></div>
    <br />
    <p><a href="http://cabinporn.com/post/97564979030/invisible-studios-workshop-near-bath-uk-built">This Invisible Studio</a> out of Bath in the United Kingdom stems from architect Piers Taylor&#8217;s organization under <a href="http://www.invisiblestudio.org/about/">the same name</a> and their joint desire to do interesting design work work in the field of construction design. And here, they have accomplished that goal to great effect. Even more impressive, though, is the fact that the did so for the low price of $25,000, and that they only used locally-sourced wood from the surrounding forest. Very cool.</p>
    
    <div class="image"><img src="/'Images/Lychen-Germany.jpg') }}" alt="River Shack in Lychen, Germany" title="River Shack in Lychen, Germany"></div>
    <br />
    <p>I love <a href="http://cabinporn.com/post/97733853839/rustic-river-shack-in-lychen-germany">this river shack in Lychen, Germany</a>: it&#8217;s small, well-built, and you couldn&#8217;t ask for a neater location than alongside a river.</p>
    
    <div class="image"><img src="/'Images/foster-huntington-treehouse_h.jpg') }}" alt="Foster Huntington&#8217;s Treehouse" title="Foster Huntington&#8217;s Treehouse"></div>
    <br />
    <p><a href="/blog/cabin-porn-roundup-814">Last month</a> I linked to Foster Huntington&#8217;s website and picture blog. Between those two sites, he has chronicled his journey to build an amazing treehouse in the forests of Washington after spending three years on the road. This month, Outside Online chose to feature this project in their article <a href="http://www.outsideonline.com/outdoor-gear/gear-shed/shelter/Foster-Huntingtons-Clubhouse.html">Foster Huntington&#8217;s Clubhouse</a>, and I just couldn&#8217;t pass up the opportunity to mention this incredible project once again. It may have been a month since I first came across this, but I&#8217;m no less jealous today.</p>
    
    <div class="image"><img src="/'Images/Ragnies-Belgium.jpg') }}" alt="House of 14 Facades" title="House of 14 Facades"></div>
    <br />
    <p>M-Architects melded modern architecture with the rustic look and feel I have come to so greatly appreciate in cabins with <a href="http://cabinporn.com/post/97648597866/house-of-14-facades-by-m-architecture-in-ragnies">this building in Ragnies, Belgium</a>, and the result is beautiful. I love all the exposed wood, and the large and plentiful windows do a great lob to make it feel even more open and spacious. Very well done.</p>
    
    <div class="image"><img src="/'Images/CalPoly-Pomona.jpg') }}" alt="CalPoly Pomona" title="CalPoly Pomona"></div>
    <br />
    <p><a href="http://cabinporn.com/post/97818057605/prefab-cabin-design-by-calpoly-pomona-students-for">An interesting concept</a> by students of California State Polytechnic University at Pomona, using simple and easily-obtained construction materials to design and build a unique cabin for use in California&#8217;s state parks. Admirable not only for its ingenuity, but it&#8217;s architectural beauty as well. Color me impressed.</p>
</div>
</article>
{% endblock %}