{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://chrisbowler.com/journal/app-fatigue" class="linkpost">Chris Bowler on App Fatigue</a>
    </h2>
    <time datetime="2013-11-11" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/11">11</a>/11 18:19:02
</time>

    
    <p>In the wake of iOS 7&#8217;s release very few developers skipped the godsend of an opportunity to update their apps and charge once more in the process. Unfortunately, interspersed amongst the Tapbots of Apple&#8217;s ecosystem who shipped a product rebuilt from the ground up, others instead chose a shallow strategy Ben Brooks quantified quite well in the title of his article linking to Chris&#8217;s piece, <a href="http://brooksreview.net/2013/11/lets-make-it-2-0-so-we-can-charge-for-it-again/"><em>Let&#8217;s make it 2.0 so we can charge for it again.</em></a> Like Chris, I had no problem paying for Tweetbot 3; I happily bought Instacast 4 when it came out too. But by and large those two were the exceptions, not the rule.</p>
</div>
</article>
{% endblock %}