{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="complete-overhaul" class="original">First Crack's Complete Overhaul</a>
    </h2>
    <time datetime="2013-01-27" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/01">01</a>/27 16:01:31
</time>

    
    <p>Early Friday morning I started redesigning this site&#8217;s layout. I wanted to create a better reading experience and place more emphasis on my content, with particular attention paid to the latest articles. Two days later, in the wee hours of Sunday morning, I closed my computer having not only accomplished my initial goals, but also after successfully completing a long-overdue complete overhaul of the content mangement system I drive this site with, First Crack. For those unfamiliar with my work on this Markdown-based content management system, check out <a href="/blog/introducing-first-crack"><em>Introducing First Crack</em></a> and <a href="/blog/first-crack-in-practice"><em>First Crack in Practice</em></a>.</p>
    
    <p>In addition to eliminating nearly 100 lines of code, I have also greatly optimized the latest iteration of First Crack. For example, whereas the previous version opened and parsed each content file multiple times to build the home page, RSS feed, and article page, First Crack now reads and parses each line of each file only once. I did not only make performance improvements server-side in the Python script though, but also client-side with the removal of my dependancy on jQuery and an accompanying Javascript file to correctly display my site, along with a simplification of my site&#8217;s structure as well as CSS. All in all this is a huge step forward not only for First Crack, but for this site as well.</p>
    
    <p>Along with the aforementioned improvements to First Crack, the CMS now supports a number of new features:</p>
    <blockquote>
<p></p>
    <ulstart='1'>
<li>New command line parameter: The latest version of First Crack brings with it a new option in its &#8220;Authoring&#8221; mode: "-u&#8221; for uploading a single file. Combined with the "-r&#8221; parameter used to rebuild a single structure file, these two options make minor fixes a breeze.</li>
    <li>A more responsive design: Another goal I had when I set out to redesign my site last week was to build a more responsive design, a design that would not only be readable on a computer, but on a mobile device as well. While I still have some kinks to work out, this design is one step closer to providing the best possible experience regardless of the device my site is viewed through.</li>
    </ul>

    <p>Due to little interest in the GitHub repo, I have ceased updating it; however, although <a href="https://github.com/zacjszewczyk/FirstCrack">First Crack&#8217;s GitHub page</a> has stagnated, I still intend to open source First Crack upon its completion.</p>
</div>
</article>
{% endblock %}