{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://stratechery.com/2014/critiquing-disruption-theory/" class="linkpost">Critiquing Disruption Theory</a>
    </h2>
    <time datetime="2014-07-14" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/07">07</a>/14 07:28:36
</time>

    
    <p>I linked to this piece by Ben Thompson in the title only because it is his most recent on the topic of disruption theory; I strongly encourage you to start with his earlier piece from last year titled &#8220;<a href="http://stratechery.com/2013/clayton-christensen-got-wrong/">What Clayton Christenson Got Wrong</a>&#8221;, where he more fully explains the theory and further expands upon some of its flaws. Especially if you&#160;&#8212;&#160;like me until now&#160;&#8212;&#160;only know of Disruption Theory in the abstract as explained in passing here and there, these two articles from Ben are a fantastic place to start.</p>
</div>
</article>
{% endblock %}