{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://asherwolf.com/dear-hacker-community-we-need-to-talk/101/" class="linkpost">Dear Hacker Community - We Need To Talk.</a>
    </h2>
    <time datetime="2013-02-07" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/02">02</a>/07 17:35:41
</time>

    
    <p>"When I communicated about concerns and issues – as well as complaints from Cryptoparty participants peeved with out-of-touch crypto-lecturers who wanted to teach command lines to crypto-newcomers – I got put downs, got brushed off, ignored, told &#8216;oh don&#8217;t worry, we&#8217;ll look after it, it won&#8217;t be a problem', &#8216;don&#8217;t worry your head about it', or aggravatingly – told that I wasn&#8217;t qualified to judge their choices as I wasn&#8217;t a crypto-expert or a hacker.&#8221;</p>
    
    <p>Asher Wolf brings to light a darker side of the internet as and the hacker community in particular, chronicling her &#8220;perfect storm&#8221; experience, if you will, with misogyny in the hacker culture. Disgusting&#160;&#8212;&#160;indescribably disgusting; that&#8217;s the thought that overrode all others as I read this piece, and the lesson we need to learn from this article. Absolutely terrible.</p>
</div>
</article>
{% endblock %}