{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://huckberry.com/blog/posts/4x4-showdown-el-diablo-jeep" class="linkpost">El Diablo Jeep</a>
    </h2>
    <time datetime="2014-02-27" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/02">02</a>/27 15:37:45
</time>

    
    <p>Late last year <a href="/blog/filson-4x4">I linked to</a> another, similar post from Huckberry on the <a href="http://huckberry.com/blog/posts/filson-4x4">Filson 4X4</a>. Like Filson&#8217;s modified Jeep, Starwood Motors made significant modifications to this once-run-of-the-mill vehicle, transforming it into something remarkably cool&#160;&#8212;&#160;perhaps even cooler than its impressive cousin, also linked in Huckberry&#8217;s post, the <a href="http://uncrate.com/stuff/starwood-full-metal-jacket-jeep/">Starwood Full Metal Jacket Jeep</a>. Although at $72,888 and $107,000, respectively, both will remain far outside of my price range for the foreseeable future, I can always look, and look I definitely will.</p>
</div>
</article>
{% endblock %}