{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.nytimes.com/2014/01/19/opinion/sunday/for-the-love-of-money.html" class="linkpost">For the Love of Money</a>
    </h2>
    <time datetime="2014-01-23" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/01">01</a>/23 15:21:56
</time>

    
    <p>Hat-tip to Shawn Blanc for <a href="http://shawnblanc.net/2014/01/for-the-love-of-money/">the original link</a>, former hedge-fund manager Sam Polk talks about his amazing journey from addict college dropout to making nearly four million dollars in a single bonus, to say nothing of his base salary and any other dividends accrued throughout the year. If you, like me and so many others, have ever thought, &#8220;If I could just win the lottery, think of all the great things I could do; all the problems that money would solve&#8221;, you ought to read this; even if you have never thought that, you should still read this. It&#8217;s an incredible and harrow story of wealth, greed, and, ultimately, redemption.</p>
</div>
</article>
{% endblock %}