<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="Framing the Entry Level iPhone - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            Framing the Entry Level iPhone - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="post">
        <header><!--BLOCK HEADER--></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    <h2 class="article_title">
        <a href="framing-the-entry-level-iphone" class="original">Framing the Entry Level iPhone</a>
    </h2>
    <time datetime="2013-07-09" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/07">07</a>/09 20:59:19
</time>

    
    <p>"Part of me think that an entry level iPhone will be very much like an iPod touch with an antenna, with hardware that’s capable enough to run all of iOS 7’s features, is better than the any last generation iPhone, but won’t compare to what’s inside Apple’s flagship offering.&#8221;</p>
    
    <p>And then again at the end of the article, Cody Fink of Mac Stories continues in <a href="http://www.macstories.net/news/some-thoughts-on-an-entry-level-iphone/"><em>Some Thoughts on an Entry Level iPhone</em></a>:</p>
    
    <blockquote>
<p>&#8220;The press will try to spin the launch of an entry level iPhone as Apple’s way of fighting back against cheaper Android phones, as a way to gain ground over a competitor that’s supposedly winning the smartphone market. I think Apple isn’t interested in this, but rather in making an affordable phone that meets people’s expectations of quality in an Apple product. And if Apple can give you something that’s even better than an iPhone 4 or 4S at the same price, in addition to becoming possibly even more affordable in emerging markets, then that only means good things for consumers.&#8221;</p>
    </blockquote>

    <p>As I read this article and that first excerpt in particular, I realized that the idea of a budget iPhone is not a fundamentally bad one when framed as a high-end iPod Touch instead of an intentionally inferior iPhone. Also of interest in Cody&#8217;s article was his characterization of this budget iPhone&#160;&#8212;&#160;or high-end iPod Touch?&#160;&#8212;&#160;not as an Android competitor, but simply a quality device designed on a budget. Even though I can&#8217;t quite say I&#8217;m for a cheap iPhone after reading it, Cody&#8217;s article did certainly impact my thoughts on the subject. All in all a great article and one certainly worth the read.</p>
</div>
</article>
            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>