{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://freecabinporn.com/post/28090808148/glass-lodge-in-farellones-chile-submitted-by" class="linkpost">Glass Lodge</a>
    </h2>
    <time datetime="2013-01-28" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/01">01</a>/28 13:47:33
</time>

    </blockquote>

    <p>To once again reference Ben Brooks&#8217;s article <a href="http://brooksreview.net/2013/01/design-workspace/"><em>Fatal Design Flaw of Workspaces</em></a>, he described his ideal workspace towards the end of the article:</p>
    
    <blockquote>
<p>&#8220;I often dream of my ideal workspace:</p>
    <p>* 10,000 square foot space of nothing.</p>
    <p>* Four foot by ten foot desk in the center, made of wood.</p>
    <p>* Herman Miller Embody chair.</p>
    <p>* Concrete floors.</p>
    <p>* No windows.</p>
    <p>* Thirty foot ceiling.</p>
    <p>* Spot light illuminating only my desk.</p>
    <p>* Just the laptop on the desk.</p>
    <p>* No cables in sight.&#8221;</p>
    </blockquote>

    <p>As I read this description, I couldn&#8217;t help but think about how different my own ideal workspace would be from this one. Where he dreams of a large expanse of nothing, dark except for well-lit area around his immaculate desk, I idealize a small cabin like the glass lodge linked at the top of this post: a bright, cozy space, isolated somewhere away from civilization where I can be alone to work. I suppose in that regard, at least, we can agree.</p>
</div>
</article>
{% endblock %}