<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="How to be Creative in One Simple Step - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            How to be Creative in One Simple Step - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="post">
        <header><!--BLOCK HEADER--></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    <h2 class="article_title">
        <a href="http://vintagezen.com/zen/2014/8/1/dz17" class="linkpost">How to be Creative in One Simple Step</a>
    </h2>
    <time datetime="2014-08-20" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/08">08</a>/20 07:39:30
</time>

    
    <p>I tweeted a link to this piece right before I left for Canada, but it bears repeating once more in a more formal fashion here: on August 1st, Linus Edwards made a brief reappearance on VintageZen with another installment in his ongoing article series, this time titled <a href="http://vintagezen.com/zen/2014/8/1/dz17">The Daily Zen #17 &#8220;how to be Creative in One Simple Step&#8221;</a>. If you, like me, have become disillusioned with <a href="/blog/the-creativity-racket">the creativity racket</a>, and especially if you have <em>not</em> yet realized this, I highly recommend this short piece: Linus makes a great case, and has a fantastic conclusion.</p>
    
    <p>Plus, as a expletive-filled bonus at the bottom of his post, commenter Dain Miller leveled a criticism not overdue for Linus in particular, but more so the entire faction of writers who love to wax on explaining how difficult writing has become. I will not be so foolish as to deny the difficulty of writing, but I will say that I agree wholly with Dain&#8217;s statement: &#8220;I&#8217;m so sick of people not doing their blogs anymore &#8216;because they don&#8217;t feel like it'. &#8216;It got hard&#8217; wah wah wah. Fucking christ dude, man the fuck up and do your work. If your goals are really the goals you said they are, or you want to accomplish was what you claimed you did - you wouldn&#8217;t let &#8216;something being inconvenient or a chore&#8217; fucking stop you.&#8221; I 100%, completely, totally, and unequivocally agree.</p>
</div>
</article>
            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>