<img id="main_image" src="/assets/images/zjs.jpg" alt="Candid photo of the author, Zac Szewczyk."/>
<h3>About Me</h3>
<p>
    My name is Zachary Szewczyk. I grew up in North Carolina, Hawaii, Ohio, Minnesota, and Florida. At 13 I went to Canada, at 15 I spent three months in four south African countries, and at 20 I visisted Mongolia. I like to travel. I graduated in 2018 from Youngstown State University with an undergraduate degree in Computer Science and Information Systems. That same day, after four years in the ROTC program, I commissioned into the United States Army's Cyber Corps as a Second Lieutenant.
</p>
<p>
    I adventure as much as possible, write often, and code sometimes. I spend most of my time working as an Army Cyber Operations Officer, and finish every day with a few hours in the gym. Although my knack for leadership and my technical expertise has helped me excel in my profession, my passion lies in the great outdoors, and in the writer's craft. Someday I hope to turn those into a full-time lifestyle. 
</p>
<p>
    I write to clarify, condense, and communicate my thoughts on things I find interesting. For a better idea of the topics you can expect me to cover here, check out <a href="/blog/before-now-and-future.html"><em>Before, Now, and in the Future</em></a>. In brief, though, I write about adventuring, writing, weightlifting, and leadership.
</p>
<p>
    You can take a peek at the tools behind my writing process, and the services that run this site, in <a href="/blog/my-setup-2019.html"><em>My Setup</em></a>.  
</p>
<p>
    For those of you interested in how I find cool things to write about, check out <a href="/blog/my-morning-reads.html"><em>Keeping Up with Current Events</em></a> and <a href="/blog/my-evening-reads.html"><em>My Evening Reads</em></a>.
</p>
<p>
    If you came here for personal, professional, or military development, check these posts out in the <a href="/military.html">Military</a> category.
</p>
<ul>
    <li><a href="/blog/personal-development.html"><em>Personal Development</em></a></li>
    <li><a href="/blog/your-first-week.html"><em>Your First Week as a New Lieutenant</em></a></li>
    <li><a href="/blog/advice-to-new-lieutenants.html"><em>Advice to New Lieutenants</em></a></li>
</ul>
<p>
    If you came here for cybersecurity resources, check out <a href="/blog/threat-intel-and-threat-research.html"><em>Threat Intelligence & Threat Research</em></a> and the other posts within the <a href="/cybersecurity.html">Cybersecurity</a> category.
</p>
<h3>Get in Touch</h3>
<p>
    If you like what you see here, feel free to contact me <a href="http://twitter.com/zacjszewczyk">on Twitter</a>.
</p>
<h3>More Stuff</h3>
<p>
    Although rare, I have written elsewhere. If you like what you read here, and if you want more, check these links out.
</p>
<ul>
    <li><a href="https://www.genyfinanceguy.com/2016/01/14/freedom-fighter-interview-21-ground-zero-with-zachary/">Freedom Fighter Interview #21 – Ground ZERO, with Zachary</a>. Published on 2016/01/14.</li>
</ul>
<h3>Helpful Posts</h3>
<p>
    Although mostly for me, as a handy reference for posts I find myself going back to often, you may also find these useful as well:
</p>
<ul>
    <li><a href="/blog/pushing-to-multiple-repos.html">Pushing to Multiple Repos</a></li>
    <li><a href="/blog/git-home.html">Git Aliases</a></li>
    <li><a href="https://www.atlassian.com/git/tutorials/git-subtree">Git Subtree</a></li>
</ul>