{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="instapaper-facelift" class="original">Instapaper for iPad Receives a Facelift</a>
    </h2>
    <time datetime="2013-11-07" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/11">11</a>/07 12:56:01
</time>

    
    <p>This completely blindsided me. I had the lack of foresight to uninstall the betas after Instapaper 5 hit the market, so I had no idea a revamped iPad app was in the works until coming across the announcement in my Twitter feed late yesterday evening. Thanks iOS 7&#8217;s automatic update feature, I got to experience Betaworks&#8217; latest revision firsthand as soon as I opened the app; and as I said <a href="https://twitter.com/zacjszewczyk/statuses/398276792198238209">on Twitter</a>, I really like the new design. The folks over at Betaworks also implemented the much-acclaimed sorting and filtering abilities Instapaper 5 for iPhone shipped with three months ago, along with some other, more minor tweaks and updates. For a full list, head on over to the blog post: <a href="http://blog.instapaper.com/post/66190518154"><em>Redesigned Instapaper for iPad</em></a>.</p>
</div>
</article>
{% endblock %}