{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.cultofmac.com/267222/how-the-imac-cooling-fan-stays-so-silent/" class="linkpost">How The iMac Cooling Fan Stays So Silent</a>
    </h2>
    <time datetime="2014-02-22" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/02">02</a>/22 08:16:46
</time>

    
    <p>Originally published under the title &#8220;Future Mac Fans Will Be Smaller And Quieter Than Ever [Patent]", I couldn&#8217;t help but link to this blatant attack from Luke Dormehl. Who is he to predict the vocality or physical dimensions of Mac fans in the future? We are a community made of diverse individuals both outspoken and introverted; small and large. To so insensitively equate each and every one of us, then, making such a broad generalization as to our future is not only a claim completely unsubstantiable, but remarkably offensive as well. Getting just a little cocky over there at Cult of Mac, aren&#8217;t we?</p>
</div>
</article>
{% endblock %}