{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.asymco.com/2013/04/10/making-rain/" class="linkpost">Making rain</a>
    </h2>
    <time datetime="2013-04-18" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/04">04</a>/18 11:33:33
</time>

    
    <p>"Android and the Fiber business and even Facebook fit into this analogy rather well. In this context more rainfall means more people using the Internet. If you have more people you&#8217;ll have more rivers and you&#8217;ll have more water and hopefully more fish. Fiber means the water will flow more rapidly: you&#8217;re essentially dredging the riverbed.&#8221;</p>
    
    <p>Some wonder why Google still pushes Android despite failing to make a significant profit from it, especially when compared to Samsung; some wonder why Google chose to begin providing Fiber to select American cities; some wonder, and Horace Dediu, on episode #79 of Critical Path, very eloquently explained the reasoning behind these and many other decisions. A characteristically excellent episode I suggest everyone listen to at least once, and then again to absorb any glossed over brilliance you may have missed the first time around.</p>
</div>
</article>
{% endblock %}