{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://thetypist.com/338/mac-os-x-setup-tips-app-recommendations/" class="linkpost">Mac OS X: My Setup Tips & App Recommendations</a>
    </h2>
    <time datetime="2014-01-11" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/01">01</a>/11 11:45:54
</time>

    
    <p>On the topic of writers I have only just recently discovered, <a href="http://twitter.com/typistX">The Typist</a> wrote a great article about his conversion to a Mac: the motivations that preluded it and the software that facilitated his switch. I learned a few new tricks and found some cool new software here, so <a href="/blog/testing-the-apple-tax">while I may disagree</a> with his statements that one could purchase a PC approximately 150% faster than a MacBook Pro for slightly less, I enjoyed his article and look forward to seeing more from him in the future.</p>
</div>
</article>
{% endblock %}