{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://reverttosaved.com/2014/02/19/who-cares-about-office-for-ipad/" class="linkpost">Who cares about Office for iPad?</a>
    </h2>
    <time datetime="2014-02-23" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/02">02</a>/23 09:04:48
</time>

    
    <p>More of a problem than not having Microsoft Office available for iOS, I think, is the strict siloing Apple&#8217;s mobile operating system enforces: I can fulfill all my Office-related needs with Pages, Numbers, and Keynote, but trying to find away around the cumbersome process of opening a document in Dropbox, sending it to Numbers for editing, and then finding a way to get it back into Dropbox so my seventy-five year old uncle can edit the spreadsheet on his computer is a massive barrier to entry for him buying an iPad; in the end, I had no choice but to recommend a Surface. Although the absence of cellular capabilities in the Surface is thankfully pushing him back towards the iPad, the mere fact that I had no choice but to recommend the former highlights a huge shortcoming in the latter.</p>
</div>
</article>
{% endblock %}