{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://nextdraft.com/archives/n20140721/one-way-ticket-to-ride/" class="linkpost">One-Way Ticket to Ride</a>
    </h2>
    <time datetime="2014-07-24" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/07">07</a>/24 19:49:34
</time>

    
    <p>Worth linking to again, courtesy of Dave Pell&#8217;s The Next Draft this time around on the forty-fifth anniversary of Apollo 11&#8217;s historic mission: the speech President Nixon plan to give in the event of a moon disaster. Incredible, and remarkable chilling:</p>
    
    <blockquote>
<p>> &#8220;Fate has ordained that the men who went to the moon to explore in peace will stay on the moon to rest in peace."</p>
</div>
</article>
{% endblock %}