{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="https://overcast.fm/" class="linkpost">Overcast</a>
    </h2>
    <time datetime="2013-09-25" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/09">09</a>/25 18:22:43
</time>

    
    <p>I absolutely love podcasts. Much to my girlfriend&#8217;s confusion, I might add. After Marco Arment sold Instapaper in April, after Yahoo! bought Tumblr.<sup id="fnref1"><a href="#fn1" rel="footnote">1</a></sup> in May, and after he sold The Magazine shortly thereafter, only in my wildest dreams did I hope his elusive next venture would lead Marco to create a podcast client. Then, last Sunday at XOXO, my dream came true.</p>
    
    <p>Perhaps that&#8217;s putting it slightly melodramatically, but to say that I&#160;&#8212;&#160;and the collective internet as well&#160;&#8212;&#160;am extremely excited for Overcast would be an understatement of gargantuan proportions. I can&#8217;t wait for Overcast to come out; I plan on purchasing it on day one, as I&#8217;m sure many others will as well. Despite Marco&#8217;s modest expectations for Overcast, I would be surprised if it <em>didn&#8217;t</em> take the podcast client market by storm: the same design sensibilities that made Instapaper and The Magazine so popular&#160;&#8212;&#160;one need only look to <a href="http://www.marco.org/2013/09/23/overcast-coming-soon">the announcement Marco posted</a> for an idea as to those proven ideals&#160;&#8212;&#160;will almost undoubtedly make Overcast similarly popular and, hopefully, a smashing success.</p>
    
    <p>Good luck to you, Marco; we await Overcast&#8217;s release in eager anticipation.</p>
    
    <div id="fn1" class="footnote">
<p>I can&#8217;t help but think of Ben Brooks&#8217; article <a href="http://brooksreview.net/2013/05/tumblr-yahoo/"><em>Yahoo! + Tumblr. = !!</em></a> on the topic every time I think about this acquisition.</p><a class="fn" title="return to article" href="#fnref1">&#x21a9;</a>
</div>
</article>
{% endblock %}