{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://mattgemmell.com/paths/" class="linkpost">Paths</a>
    </h2>
    <time datetime="2014-04-16" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/04">04</a>/16 12:15:21
</time>

    
    <p>I think The Typist put it best when he posted <a href="https://twitter.com/typistX/status/452184590028128256">a tweet linking to this piece</a> by Matt Gemmell, where he said, &#8220;I am wary of superlatives but @mattgemmell&#8217;s latest is the best piece of text I&#8217;ve read in the last 5 years; at least&#8221;. This truly is a phenomenal work of prose, simultaneously remarkably sad, hopeful, and intensely inspirational; better words of advice than those at the end of Matt&#8217;s article have never been said.</p>
</div>
</article>
{% endblock %}