{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="people-still-dont-know-what-i-do" class="original">People Still Don't Know what I do</a>
    </h2>
    <time datetime="2013-05-02" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/05">05</a>/02 14:57:45
</time>

    
    <p>Virtually every time Dan Benjamin is interviewed, the host eventually asks the same question posed by numerous interviewers of days gone by: &#8220;When people ask what you do, what do you tell them?" And every time, Dan answers the same way, saying that his answer depends on the person asking. For some, Dan responds that he is in broadcasting and leaves it at that; in other cases he goes in to more detail, qualifying that statement by describing his podcast network. He chooses his answer based on the level to which that person would understand his explanation, because as Dan has said each time in response to the aforementioned question, there are some people that still don&#8217;t know what podcasts are.</p>
    
    <p>Depending on the interviewer, at this point the conversation occasionally shifts gear as the pair reminisce of days gone by when making a living as a writer for a blog was unheard of. Those involved in the podcasting industry are very much in the same boat those writers were a few years ago: then, to say one made a living writing on the web raised more than a few eyebrows; the same is true for podcasters today, whereas the novelty of a career writing outside of a print publication has lessened significantly. Lessened, but not disappeared.</p>
    
    <p>A few days ago in a casual conversation with a friend who recently learned of my blog, he asked if I had been posting my daily rants lately. His question caught me off-guard. In the circles I travel in, among those who make their living online writing, podcasting, and programming, such a question would be absurd; a few years ago, maybe; a year ago, maybe, but no one, especially those intending to form any sort of readership, writes like that anymore.</p>
    
    <p>My intent in writing this is not to in any way belittle his intelligence&#160;&#8212;&#160;he is an extremely smart individual I have a great amount of respect for&#160;&#8212;&#160;but to serve as a reminder and just a bit of perspective. As we move amongst our circles of bloggers, podcasters, and programmers, the temptation to assume the rest of the world is just a short ways behind us has become curiously widespread. That prevalence does not, however, in any way mean it should be taken for granted. But go ahead, rant at me if you disagree.</p>
</div>
</article>
{% endblock %}