{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://omz-software.com/pythonista/docs-140/ios/new.html" class="linkpost">Pythonista Updated for iOS 7</a>
    </h2>
    <time datetime="2013-11-14" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/11">11</a>/14 19:17:17
</time>

    
    <p>Shortly after Ole Zorn released Editorial for iPad I adopted a workflow heavily reliant on this and his other&#160;&#8212;&#160;some would say companion&#160;&#8212;&#160;app Pythonista. Employing Editorial for all my writing needs and Pythonista to run a retrofitted version of FirstCrack thus enabling me to post on the go, I read, wrote, and updated my website almost exclusively on my iPad. Although recent months have seen a reversal of that shift in conjunction with my purchase of a new MacBook Pro, certain circumstances still make me thankful for the ability to not only consume but also produce content on such a portable device. Pythonista 1.4 brings a whole host of exciting changes to this already excellent app; perhaps even more exciting, though, is what these changes indicate for the future of Editorial.</p>
</div>
</article>
{% endblock %}