{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.slate.com/articles/life/a_fine_whine/2013/02/reclining_airplane_seats_are_a_terrible_idea_and_should_be_banned.single.html" class="linkpost">Reclining airplane seats are a terrible idea and should be banned</a>
    </h2>
    <time datetime="2013-02-23" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/02">02</a>/23 11:18:29
</time>

    
    <p>"'We paid for these goddamn seats, and we&#8217;ll recline them if we want to.' So then everyone was angry: I was angry because I had no room, and she was angry because I passive-aggressively kicked her seat once every 15 minutes—often enough to be annoying, but not often enough to definitely be on purpose.&#8221;</p>
    
    <p>Funny how such a little thing could become such a bone of contention to so many people. Having spent days in airports and on numerous long flights though, I can certainly see where Dan Kois is coming from: there are few things more annoying during a flight than having what little personal space you are allotted cut down to a fraction by the person in front of you.</p>
</div>
</article>
{% endblock %}