<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="Rejected from The Magazine - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            Rejected from The Magazine - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="post">
        <header><!--BLOCK HEADER--></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    <h2 class="article_title">
        <a href="rejected-from-the-magazine" class="original">Rejected from The Magazine</a>
    </h2>
    <time datetime="2013-03-12" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/03">03</a>/12 11:58:49
</time>

    
    <p>A few weeks ago I put the finishing touches on <a href="/blog/a-crying-shame"><em>A Crying Shame</em></a>. Rather than posting the article here though I submitted it to Marco Arment&#8217;s The Magazine for consideration in a future issue, hoping to one day open the app and find my own words alongside the work of those I hold in high esteem. Within a few days I received a brief response from The Magazine&#8217;s executive editor Glenn Fleishman requesting more information, and I sent him the entire piece. Bolstered by his apparent interest my confidence ran high during the ensuing weeks. Unfortunately, it was not to be.</p>
    
    <p>Late last week, as the temperature continued to drop outside my hotel room on a characteristically cold Duluth night, my phone vibrated. Slightly apprehensive, I opened my email to find another brief message. Stripping the obligatory courtesies out, Glenn Fleishman&#8217;s email rejecting my article from The Magazine read as follows:</p>
    
    <blockquote>
<p>&#8220;We&#8217;re looking for work that&#8217;s less philosophical and 10,000-foot view and more rooted in narrative: a good beginning, middle, and end with growth along the way.&#8221;</p>
    <p></p>
    <p>To say I was crushed would be a vast overstatement: the possibility of such a turn of events had always existed in my mind, and the rejection did not come as a particular surprise; to say that I was disappointed, however, would be an understatement. I was not so much disappointed that my piece had been rejected though, but because I expected so much more from The Magazine: I expected to walk away from this experience, regardless of the outcome, inspired to create better content more often; instead, I found a publication imposing the same restrictions my teachers force me to adhere to. This shining example of what I once considered real writing&#160;&#8212;&#160;the important writing, the stuff that actually mattered&#160;&#8212;&#160;had suddenly performed an about-face, turned to me, and shoved the same criteria my English teachers force upon me in my face; and I recoiled violently, disappointed and disgusted.</p>
</div>
</article>
            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>