{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="relegated-to-a-lookalike" class="original">Relegated to a Lookalike</a>
    </h2>
    <time datetime="2013-07-09" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/07">07</a>/09 19:47:38
</time>

    
    <p>"Copying iOS 7 is going to be a big problem for cheap hardware. iOS 7&#8217;s appearance and dynamics require a powerful GPU and advanced, finely tuned, fully hardware-accelerated graphics and animation APIs. This will hurt web imitators most, but it&#8217;s also going to be problematic for Android: while high-end Android phones have mostly caught up in GPU performance, and recent Android versions have improved UI acceleration, most Android devices sold are neither high-end nor up-to-date.&#8221; - Marco Arment in  <a href="http://www.marco.org/2013/06/27/ios7-as-defense"><em>iOS 7 As Defense</em></a>. Craig Hockenberry made the same point in episode forty-six of John Gruber&#8217;s The Talk Show around minute 35:40.</p>
    
    <p>A cheap iPhone built with inexpensive parts relative to Apple&#8217;s high-end offering would face the same problems an Android device running a mimicry of iOS 7 would. Those challenges could be enough to prevent Android from copying iOS 7, as Marco pointed out in his article cited above; could they be enough to prevent Apple from building a cheap iPhone&#160;&#8212;&#160;one with components comparable to an Android device&#160;&#8212;&#160;as well? And if not, how much is Apple willing to compromise on its mobile operating system to make this budget device run an iOS 7 lookalike?</p>
</div>
</article>
{% endblock %}