{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://amandatinney.com/how-to-sell-a-blog-for-36200/" class="linkpost">How to Sell a Blog for $36,200</a>
    </h2>
    <time datetime="2013-11-23" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/11">11</a>/23 07:38:37
</time>

    
    <p>An interesting story made all the more absorbing by the model Amanda employed in stark contrast to the one nearly all writers in the circles I frequent employ. Whereas we hold the individual&#8217;s reputation on high&#160;&#8212;&#160;<a href="/blog/a-year-of-firsts">I read people, not websites</a>&#160;&#8212;&#160;she takes the opposite approach in impersonally finding, occupying, and ultimately cashing out on an existing niche rather than create her own as I and many others are want to do. A thought-provoking approach, to say the least, and inarguably effective: I can&#8217;t argue with her results.</p>
</div>
</article>
{% endblock %}