{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://vimeo.com/1212142" class="linkpost">Smart & Funny</a>
    </h2>
    <time datetime="2013-02-03" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/02">02</a>/03 20:06:38
</time>

    </blockquote>

    <p>Following this morning&#8217;s <a href="https://twitter.com/ylnt/status/297802332220055552">announcement</a> that the popular podcast You Look Nice Today would come to a close <a href="https://twitter.com/ylnt/status/297802897729671168">with one final episode</a>, Rebecca O&#8217;Malley tweeted a link to a video from 2009 titled Smart &#38; Funny:</p>
    
    <div class="iframe"><iframe src="http://player.vimeo.com/video/1212142" width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
    
    <p>I&#8217;m sad to see the podcast end; it has been one of my favorites for quite some time now. For those looking to fill the void left after You Look Nice Today airs its final episode, check out one of Merlin Mann&#8217;s other podcasts <a href="http://www.merlinmann.com/roderick/">Roderick on the Line</a>, now in its sixty-fourth episode. All the best to Merlin Mann, Scott Simpson, and Adam Lisagor: keep up the great work guys, your show will be missed.</p>
</div>
</article>
{% endblock %}