{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="soylent" class="original">Soylent</a>
    </h2>
    <time datetime="2013-03-13" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/03">03</a>/13 23:35:21
</time>

    
    <p>"Hacking the body is high risk, high reward. I read a textbook on physiological chemistry and took to the internet to see if I could find every known essential nutrient. My kitchen soon looked like a chemistry lab and I had every unknown substance in a glass in front of me. I was a little worried it was going to kill me, but decided it was for science and quickly downed the whole thing. To my surprise, it was quite tasty and I felt very energetic. For 30 days I avoided food entirely and I monitored the contents of my blood and physical performance. Mental performance is harder to quantify, but I feel much sharper.&#8221;</p>
    
    <p>Curious after reading Monica Heisey&#8217;s article <a href="http://www.vice.com/en_uk/read/rob-rhinehart-no-longer-requires-food"><em>This Man Thinks He Never Has to Eat Again</em></a>, from which I took the excerpt above, I headed over to Rob Rhinehart&#8217;s personal blog <a href="http://robrhinehart.com/">Mostly Harmless</a> looking for some more information on Soylent. What I found in <a href="http://robrhinehart.com/?p=298"><em>How I Stopped Eating Food</em></a> and the follow-up article <a href="http://robrhinehart.com/?p=424"><em>What&#8217;s In Soylent</em></a>, in which Rob chronicled the creation and resulting physical and psychological benefits of Soylent, along with the ingredients and reasons for which he chose to include them, respectively, fascinated me. I look forward to hearing a lot more from Rob in the near future: Soylent is an extremely novel and promising idea, and one that has the potential to not only revolutionize our lives, but the world as well.</p>
</div>
</article>
{% endblock %}