{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="subscribed-to-matt-gemmell" class="original">Matt Gemmell</a>
    </h2>
    <time datetime="2013-06-20" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/06">06</a>/20 19:54:24
</time>

    
    <p>I really enjoy reading Matt Gemmell&#8217;s writing. His article from quite a while ago, <a href="http://mattgemmell.com/2013/01/15/writing-tools/"><em>Writing Tools</em></a>, <a href="/blog/matt-gemmell">caught my attention</a>, and <a href="http://mattgemmell.com/2013/06/12/ios-7/"><em>iOS 7</em></a> <a href="/blog/matt-gemmell-on-ios-7">greatly impressed me</a>. So, earlier this afternoon, I subscribed to his site; ironically, <a href="http://mattgemmell.com/2013/01/25/the-unfollower/">The Unfollower</a> was the first article I read after doing so. Continuing the previously-established trend of excellence, this piece was no exception.</p>
    
    <p>I particularly enjoyed the manner in which he handles people unfollowing him and attempting to dictate the topics he writes about. Oftentimes writers&#160;&#8212;&#160;myself included&#160;&#8212;&#160;forgo saying anything that <em>might</em> offend a reader; Matt Gemmell just doesn&#8217;t care:</p>
    
    <blockquote>
<p>&#8220;Here&#8217;s my position: I&#8217;m not publishing a newspaper that you&#8217;ve purchased. You walked into my house. I&#8217;m OK with you hanging around, but 100% of the rules are made by me, and 100% compliance is absolutely mandatory. You get zero say in my content. There is no Letters Page for your complaint. You can&#8217;t ask to talk to my superior, because I&#8217;m at the top of the tree – and I&#8217;m going to agree with me.&#8221;</p>
    </blockquote>

    <p>Great article, well worth the read. More from him coming up, I&#8217;m sure.</p>
</div>
</article>
{% endblock %}