<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="Superhero Vehicles - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            Superhero Vehicles - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="post">
        <header><!--BLOCK HEADER--></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    <h2 class="article_title">
        <a href="superhero-vehicles" class="original">Superhero Vehicles</a>
    </h2>
    <time datetime="2013-10-21" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/10">10</a>/21 08:23:39
</time>

    
    <p>Ever since reading Craig Hockenberry&#8217;s article <a href="http://furbo.org/2013/09/11/sonderklasse/"><em>Sonderklasse</em></a>, an article ostensibly about the iPhone 5S, I have waited for an opportunity to write about something I came across in the process of reading that piece: the Mercedes G63 AMG.</p>
    
    <p>Just when you thought it couldn&#8217;t get any cooler, the latest addition to Mercedes-Benz&#8217;s elite G-class, the G63, is a departure from the traditional box-like SUV form factor characteristic of the line. A six-by-six monster with a cab for four and a truck bed on back, the G63 is both massive and, equipped with a 536-horsepower engine, quite the formidable machine. Unfortunately, as Jacob Brown of Automotive.com points out in <a href="http://blogs.automotive.com/mercedes-benz-g63-amg-6x6-going-on-sale-for-more-than-500000-151181.html">the successor to</a> his introductory article aptly titled <a href="http://blogs.automotive.com/mother-of-god-mercedes-benz-unleashes-g63-amg-6x6-on-the-world-video-129601.html"><em>Mother of God! Mercedes-Benz Unleashes G63 AMG 6x6 on the World</em></a>, the G63 will not be available in the United States. As if that were the only problem I would have faced in acquiring one, at $510,000 a pop.</p>
    
    <p>If you, like me, simply cannot get enough of this vehicle, here&#8217;s a list of articles I found interesting, insightful, and all-around great complete with details, observations, and galleries:</p>
    
    <ulstart='1'>
<li><a href="http://www.autoblog.com/2013/03/01/how-could-a-lifted-mercedes-benz-g63-amg-be-more-awesome-add-an/">How could a lifted Mercedes-Benz G63 AMG be more awesome? Add an axle</a></li>
    <li><a href="http://www.autoblog.com/2013/03/15/mercedes-releases-6x6-g63-amg-specs-and-pics-w-video/">Mercedes releases 6x6 G63 AMG specs and pics</a></li>
    <li><a href="http://www.autoblog.com/2013/09/10/brabus-b63s-6x6-frankfurt-2013/">Brabus B63S 6x6 sixes up the Messe</a></li>
    <li><a href="http://www.autoblog.com/2013/09/25/mercedes-g63-amg-6x6-pricing/">Mercedes prices G63 AMG 6x6 at around $513k</a></li>
    <li><a href="http://www.autoblog.com/2013/09/30/mercedes-benz-g63-amg-6x6-bulletproof/">$1.35M buys a Mercedes G63 6x6 that&#8217;s bulletproof</a></li>
    <li><a href="http://www.emercedesbenz.com/autos/mercedes-benz/g-class/bulletproof-and-unstoppable-mercedes-g63-6x6-amg-by-tac/attachment/mercedes-g63-amg-6x6-armored-_44b1326/#gallery">Bulletproof and Unstoppable: Mercedes G63 AMG by TAC</a></li>
    </ul>

    <p>Far from the only vehicle I intend to cover in this piece, Mercedes-Benz&#8217;s latest G-class is just the first of three. As I drove down the freeway the other day, I came up behind an interesting truck I found very reminiscent of the G63: the Hummer H3T. Already out in the wild though, I leave searching for pictures and reviews to you.</p>
    
    <p>Finally, and perhaps even more impressive in some regards than Mercedes&#8217; G63, the Romanian company Ghe-O Motors has created a beast of a vehicle in the <a href="http://www.wired.com/autopia/2013/10/ghe-o-rescue/">Rescue</a>. Weighing in at 3.2 tons and equipped with a 500 horsepower engine versus the G63 which weighs in at approximately four and a half tons with a 536 horsepower engine, the Rescue puts this extra power and weight savings to good use in its ability to climb and drive across nearly any surface, including water. The only thing the Rescue cannot do (yet) is fly. Wired calls Ghe-O&#8217;s Rescue a cross between the original Hummer and Batman&#8217;s Tumbler (Tumblr?), and I couldn&#8217;t think of a better way to put it.</p>
    
    <p>With the exception of the H3T, these are not cars everyday people own. In reality, they are more like superhero vehicles than anything else.</p>
</div>
</article>
            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>