{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.thenewsprint.co/blog/-the-great-unbundling-of-journalism" class="linkpost">The Great Unbundling of Journalism</a>
    </h2>
    <time datetime="2014-03-29" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/03">03</a>/29 08:36:46
</time>

    
    <p>Yes. Earlier this week, <a href="/blog/ben-thompson-on-the-future-of-news-and-newspapers">I posted a link</a> to Ben Thompson&#8217;s three-part series on the future of newspapers and journalism. Riffing off of that theme, Josh Ginter shares some thoughts along those lines. He&#8217;s very hopeful about the future of the blogging industry, and rightly so.</p>
</div>
</article>
{% endblock %}