{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-zombie-ipad-2" class="original">The Zombie iPad 2</a>
    </h2>
    <time datetime="2013-10-27" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/10">10</a>/27 20:28:50
</time>

    
    <p>In my last article, <a href="/blog/the-ipad-pro"><em>The iPad Pro</em></a>, I promised to write about Apple&#8217;s perpetuation of its second-generation tablet. I actually set out to discuss both the iPad 2 and a hypothetical Pro model in that piece, but long-windedness got the better of me and I had to push it off until now. Given that these points have already been made in parts elsewhere, I will keep this brief.</p>
    
    <p>As the guys over at ATP explained in <a href="http://atp.fm/episodes/36-a-weird-one">their latest episode</a>, now entering its fourth year of production Apple must make insane margins on the iPad 2&#160;&#8212;&#160;somewhere in the ballpark of 70%, they guessed. Contrast that with the <a href="http://stratechery.com/2013/where-is-the-bad-news/">45% margin</a> Apple traditionally sees on its products and you begin to get a feel for how impressive that is at a $399 price point. Analysts praise Apple&#8217;s brilliance in employing a similar strategy with respect to its iPhone line by keeping previous models around, thereby taking advantage of economies of scale, decreased production costs each year as materials become cheaper, and lengthening the amount of time before Apple must retool its entire supply chain. Typically it takes Apple&#8217;s phones three years to run this gamut; the iPad 2 has ran it for three years now, and shows no signs of stopping.</p>
    
    <p>After all, as Tim Cook said when asked at last Tuesday&#8217;s iPad event: there still exists a market for the iPad 2. Although cursory research yielded nothing substantive, anecdotal and second-hand evidence indicates that this market consists of educational institutions&#160;&#8212;&#160;buying them in <em>droves</em>&#160;&#8212;&#160;and parents looking to give their young children a tablet.</p>
    
    <p>Furthermore, not as if this would play a significant role in Apple&#8217;s decision though, continuing to manufacture the iPad 2 does not place any added constraints upon developers given that it imposes the same technical restrictions supporting the only recently-outdated first-generation iPad Mini does. Both devices have the same components, after all. As long as the Mini remains for sale, which could be for another two years at the long end of its potential lifecycle, and so long as schools and parents don&#8217;t demand too much from this device, I see no reason for Apple to discontinue this the iPad 2. They have a good thing going here; why stop now?</p>
</div>
</article>
{% endblock %}