{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://onion.com/10alXLl" class="linkpost">Find The Thing You're Most Passionate About, Then Do It On Nights And Weekends For The Rest Of Your Life</a>
    </h2>
    <time datetime="2013-03-27" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/03">03</a>/27 17:43:49
</time>

    
    <p>"I can&#8217;t stress this enough: Do what you love...in between work commitments, and family commitments, and commitments that tend to pop up and take immediate precedence over doing the thing you love. Because the bottom line is that life is short, and you owe it to yourself to spend the majority of it giving yourself wholly and completely to something you absolutely hate, and 20 minutes here and there doing what you feel you were put on this earth to do.&#8221;</p>
    
    <p>A surprisingly excellent article from The Onion that has gained quite a bit of traction since it was posted. Dan Benjamin and Garret Dimon talked about it on the latest episode of QUIT!, <a href="http://5by5.tv/quit/17">Four Hour Sleep Night</a>, and then Dan and Merlin Mann discussed it on the latest episode of Back to Work, <a href="http://5by5.tv/b2w/112">Touching Pizza and Robocon</a>. Something to keep in mind next time you decide to do something instead of the thing you love.</p>
</div>
</article>
{% endblock %}