{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-future-of-computing" class="original">The Future of Computing</a>
    </h2>
    <time datetime="2014-07-17" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/07">07</a>/17 07:13:08
</time>

    
    <p>In a style made popular by Benedict Evans in his hallmark Twitter postulations, posit: computers were created for writers. As such, the next iteration of computing devices will cater to the needs of others: creators and designers will have Jarvis-like artificial intelligence systems to converse with and holographic interfaces to involve their entire bodies in the creation process. The current model involves the two tools of the writer&#8217;s trade: their hands and their minds. Future implementations will go beyond those unnecessary restrictions that don&#8217;t apply in other fields in order to provide a richer, more productive computing experience.</p>
    
    <p>Already, we have begun to see this happening in the mobile industry: we have collectively eschewed the traditional mechanical keyboard for one implemented in software that only appears when necessary, signaling our decreasing reliance on the once-dominant input method in favor of other visual metaphors and, recently, voice as well. Where once computers required keyboard input to perform even the most basic of tasks, the vast majority of those actions are now prompted on-screen; soon, it is not ridiculous to assume that we will see this input method fade away in favor of voice; and later, another will once again take its place.</p>
    
    <p>So goes the cyclical nature of computing, where one inferior experience is inevitably succeeded by a superior one. It is easy, then, to predict future change; the difficulty, however, comes in when determining form that change will take.</p>
    
    <p>I have made my guess, and my guess is more immerse input methods geared towards a generation who will not use their computing devices primarily to write; what&#8217;s yours?</p>
</div>
</article>
{% endblock %}