<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="The End of This Week in Podcasts - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            The End of This Week in Podcasts - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="post">
        <header><!--BLOCK HEADER--></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    <h2 class="article_title">
        <a href="the-end-of-this-week-in-podcasts" class="original">The End of This Week in Podcasts</a>
    </h2>
    <time datetime="2014-10-20" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/10">10</a>/20 17:55:07
</time>

    
    <p>For just shy of the past seven months, I have written weekly roundup posts talking about my favorite medium&#160;&#8212;&#160;podcasts&#160;&#8212;&#160;and the episodes I considered the best released during that time span. Although the number of shows in each issue varied from week to week, I like to think that the quality remained constant, along with my rate of publication: with the exception of a lengthy trip to Canada&#8217;s backwoods, I have not missed a single week. It may come as a surprise, then, that today I have decided to end this series for the foreseeable future.</p>
    
    <p>Those of you paying attention, however, likely saw this coming: just <a href="/blog/this-week-in-podcasts">three weeks ago</a> I introduced a single recommendation by way of a brief explanation describing my recent lack of enthusiasm when it came to all things tech, and the according shift in interests that brought about. A month earlier, <a href="/blog/this-week-without-podcasts-83014">I had nothing to say at all</a>. This announcement has been a long time coming, then, even if I failed to recognize it at the time.</p>
    
    <p>Perhaps someday I will start again. In fact, I know that I will. However, to do so now would betray great things to come. Rather than spoil the surprise, I have chosen to shift all my effort elsewhere for the time being so that when I do finally make a comeback, it can be the best comeback possible. It&#8217;s time that I buckle down and do the hard work again, and stop coasting here.</p>
    
    <p>Until next time, then.</p>
</div>
</article>
            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>