{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://takeaswig.com/the-end-of-the-facebook-era" class="linkpost">The end of the Facebook era</a>
    </h2>
    <time datetime="2013-12-18" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/12">12</a>/18 08:06:13
</time>

    
    <p>Via <a href="http://brooksreview.net/2013/12/not-soon-enough/">Ben Brooks</a>, Chrys Bader takes a very interesting look at where Facebook came from, its current state, and the platform&#8217;s bleak future. With the exception of Twitter I have all but abandoned social networks, including the venerable elder statesman Facebook, so I rarely take any interest in articles examining them. I followed Ben&#8217;s link on a whim though, and I&#8217;m very glad I did.</p>
    
    <p>Especially damning, I thought, was his comparison of Facebook to LinkedIn: &#8220;Teens likely see Facebook the same way the Facebook generation sees LinkedIn&#160;&#8212;&#160;like a utilitarian place to manage connections.&#8221; Facebook has crossed the Rubicon, so to speak; from here no amount of money will ever bring it back.</p>
</div>
</article>
{% endblock %}