{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.randsinrepose.com/archives/2012/10/14/the_elegant_email.html" class="linkpost">The Elegant Email</a>
    </h2>
    <time datetime="2013-05-30" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/05">05</a>/30 14:53:58
</time>

    
    <p>"With each paragraph you write, double the amount of time you spend editing. It&#8217;s not just grammar and spelling errors that might be hurting your credibility. Is your point clear, literate, and concise? Have you pruned aggressively to find the core of what you&#8217;re saying? With each additional paragraph, the higher the chance becomes that you&#8217;ve made an egregious mistake that might make your email confusing and forgettable."</p>
</div>
</article>
{% endblock %}