{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://freecabinporn.com/post/33169675882/the-patron-saint-of-cabin-porn-of-all-the-many" class="linkpost">The Patron Saint of Cabin Porn</a>
    </h2>
    <time datetime="2013-01-28" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/01">01</a>/28 08:36:49
</time>

    
    <p>"In 1968, at the age of 51, Dick left a life of ranching, carpentry and heavy machine repair to retire to Twin Lakes, Alaska in what is now Lake Clark National Park. Deposited by float plane, and carrying only the simplest of tools, he set out to build a homestead and survive the winter, alone in the wilderness.&#8221;</p>
    
    <p>I found this partway through the first ten pages of <a href="http://freecabinporn.com/">Cabin Porn</a> last night. At fifty-one to attempt something many will never attempt in their lifetime...such an amazing story. Inge Wegge and Jørn Ranum <a href="http://freecabinporn.com/post/34097710799/in-2010-inge-wegge-and-j-rn-ranum-spent-9-months">did something similar in the Arctic Circle</a>:</p>
    
    <blockquote>
<p>&#8220;In 2010, Inge Wegge and Jørn Ranum spent 9 months above the Arctic Circle surfing, snowboarding, and subsisting in a cabin they built of driftwood, stone, and sea debris."</p>
</div>
</article>
{% endblock %}