{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-end-of-this-week-in-podcasts" class="original">The End of This Week in Podcasts</a>
    </h2>
    <time datetime="2014-10-20" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/10">10</a>/20 17:55:07
</time>

    
    <p>For just shy of the past seven months, I have written weekly roundup posts talking about my favorite medium&#160;&#8212;&#160;podcasts&#160;&#8212;&#160;and the episodes I considered the best released during that time span. Although the number of shows in each issue varied from week to week, I like to think that the quality remained constant, along with my rate of publication: with the exception of a lengthy trip to Canada&#8217;s backwoods, I have not missed a single week. It may come as a surprise, then, that today I have decided to end this series for the foreseeable future.</p>
    
    <p>Those of you paying attention, however, likely saw this coming: just <a href="/blog/this-week-in-podcasts">three weeks ago</a> I introduced a single recommendation by way of a brief explanation describing my recent lack of enthusiasm when it came to all things tech, and the according shift in interests that brought about. A month earlier, <a href="/blog/this-week-without-podcasts-83014">I had nothing to say at all</a>. This announcement has been a long time coming, then, even if I failed to recognize it at the time.</p>
    
    <p>Perhaps someday I will start again. In fact, I know that I will. However, to do so now would betray great things to come. Rather than spoil the surprise, I have chosen to shift all my effort elsewhere for the time being so that when I do finally make a comeback, it can be the best comeback possible. It&#8217;s time that I buckle down and do the hard work again, and stop coasting here.</p>
    
    <p>Until next time, then.</p>
</div>
</article>
{% endblock %}