{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-one-episode-story" class="original">The One-Episode Story</a>
    </h2>
    <time datetime="2013-07-24" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/07">07</a>/24 18:37:04
</time>

    
    <p>Both Burn Notice and NCIS, arguably two of USA Network&#8217;s most popular television broadcasts, adhere to a strict rule set in each and every episode: a sailor dies, the NCIS team responds and eventually solves the case, and in the last few minutes the overarching story progresses ever so slightly. Similarly, Burn Notice opens with the client, someone with a problem that Michael will agree to solve after a varying amount of reluctance, and closes with the minute progression of a larger plot just as NCIS does. Although I have only occasionally seen other installments of USA&#8217;s programs, shows like Psych and to a lesser degree Covert Affairs follow the same basic outline.</p>
    
    <p>On the other end of the spectrum we have shows like USA&#8217;s Suits and HBO&#8217;s House of Cards, both extremely popular programs that conduct themselves in a very different way, with each installment furthering the single plot line NCIS and Burn Notice devote such an unfortunately small amount of time to. That&#8217;s to say nothing for the insanely popular Game of Thrones, which follows the latter&#8217;s model rather than the former&#8217;s to great success.</p>
    
    <p>Personally, I prefer grand stories featuring complex plot lines and deep characters played out over a great number of episodes rather than much smaller, simple narratives stretched out and then jammed in to the tail end of a similar time frame. Shows of this nature are very similar to movies, which is part of the reason I enjoy them so much, and&#160;&#8212;&#160;I would wager&#160;&#8212;&#160;one of the many reasons shows like <em>Suits</em> achieve such success on TV.</p>
</div>
</article>
{% endblock %}