{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://blog.instapaper.com/post/57817543037" class="linkpost">The new Instapaper web beta</a>
    </h2>
    <time datetime="2013-08-12" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/08">08</a>/12 22:02:55
</time>

    
    <p>With the beta release of Instapaper&#8217;s newly overhauled and undeniably much more attractive website, we are finally beginning to see some of the great new features Marco sold Instapaper to Betaworks for. As I said in <a href="/blog/what-happened-to-instapaper"><em>What Happened to Instapaper?</em></a>, I&#8217;m very excited to see where the company takes Instapaper in the near future. A new website was a wonderful place to begin.</p>
    
    <p>And for those thinking Betaworks has sat on their hands for the last four months, Marco Arment dispels that notion in <a href="http://www.marco.org/2013/08/09/instapaper-design-beta">his blog post responding to the announcement</a>:</p>
    
    <blockquote>
<p>&#8220;Betaworks has only owned Instapaper for a few months so far, and they&#8217;ve already hired a staff, moved the entire infrastructure to AWS, improved support, rewritten much of the back end, and overhauled the website design.&#8221;</p>
    </blockquote>

    <p>This is a very promising start. Next up: a new version of Instapaper for iOS, likely to be released around the same time iOS 7 hits the market.</p>
</div>
</article>
{% endblock %}