{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-joe-steel-starter-pack" class="original">The Joe Rosensteel Starter Pack</a>
    </h2>
    <time datetime="2014-01-22" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/01">01</a>/22 07:29:48
</time>

    
    <p>As detailed in <a class="local" href="The-Curse-of-Preconceived-Notions"><em>The Curse of Preconceived Notions</em></a>, before Monday night I had not read any of Joe Rosensteel&#8217;s work; instead, I had wrongly disregarded it in any capacity surpassing that of humorous entertainment. When I finally came to my senses and started reading his blog though, starting with <a href="http://joe-steel.tumblr.com/post/73795711747/the-ubiquitous-yak-for-the-discerning-obsessive"><em>The Ubiquitous Yak for the Discerning Obsessive</em></a>, I found that I really enjoy his thoughts and opinions. So for anyone else that, like me, made a similar mistake, I thought I would compile a short list of my favorite articles from Joe, to give you somewhere to start.</p>
    
    <ol>
<li><a href="http://joe-steel.tumblr.com/post/69711107323/terrible-podcast-screenplays">Terrible Podcast Screenplays</a>. Given my need to see things through from beginning to end&#160;&#8212;&#160;I have never started a podcast from any point except episode one, and always start each new TV show with its first episode&#160;&#8212;&#160;I would be remiss if I did not point you here, where things began, at Joe Rosensteel&#8217;s claim to fame.</li>
    <li><a href="http://joe-steel.tumblr.com/post/71732231987/yet-another-end-of-the-year">Yet Another End of the Year</a>. Like many of us, <a href="/blog/who-to-follow-in-2014">myself included</a>, Joe wrote &#8220;Yet-Another-End-of-the-Year blog post&#8221; to bring in the new year where he talked about 2012 and 2013 and zeroed in on a few intensely personal aspects of his life. In particular, I found his thoughts on using a job to define oneself especially interesting and cause for a bit of retrospection.</li>
    <li><a href="http://joe-steel.tumblr.com/post/72843574172/not-my-cup-of-coffee">Not my Cup of Coffee</a>. Ostensibly about coffee&#160;&#8212;&#160;because the internet <em>really</em> needed someone else talking about their fussy brewing methodology, Joe actually went on to talk about becoming okay with not pleasing everyone at every turn. For anyone considering writing publicly, I strongly recommend you read this first: it will save you a great deal of discomfort and indecision in the future. And for the record, I would have loved that pun.</li>
    <li><a href="http://joe-steel.tumblr.com/post/73746142327/that-pointy-thing-on-twitter">That Pointy Thing on Twitter</a>. I always find it interesting to see how another uses the same service I do, because we almost invariably employ it for different purposes. A conversation related to this one took place just over a week ago when <a href="https://twitter.com/clinton1550/status/421586419551727616">Clinton Phillips asked</a> why someone would favorite and retweet the same tweet, and I responded by saying that I favorite tweets I want to earmark for later, and retweet ones I want my followers to see.</li>
    </ol>

    <p>I have already subscribed to <a href="http://joe-steel.tumblr.com">Joe&#8217;s site</a>, and after reading these articles, you should too.</p>
</div>
</article>
{% endblock %}