{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://brooksreview.net/2013/03/ipad-mini-3/" class="linkpost">The Time I Was Wrong*</a>
    </h2>
    <time datetime="2013-03-27" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/03">03</a>/27 12:50:49
</time>

    
    <p>The iPad Mini, like the original iPad, launched to the tune of naysayers questioning the usefulness of a tablet in general, and especially one in such a form factor. After all, who could use the iPad for actual work? It was obviously a content-consumption device rather than a device capable of creating new and interesting things. Obviously. But now we have the iPad 4, and now we have the iPad Mini. And now we have two new ways to create whenever and wherever is convenient.</p>
    
    <blockquote>
<p>&#8220;Using an iPad mini was like switching from a 17″ MacBook Pro to an 11″ MacBook Air — all of a sudden you can use the device in far more places than you ever thought possible and still do almost everything you wanted to do on it. I can fumble for keys and easily find a safe place to tuck the mini — often in my jacket pocket or jeans back pocket — or do countless other things that would have me stumbling over the size of the iPad."</p>
</div>
</article>
{% endblock %}