{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-cabin-porn-archive" class="original">The Cabin Porn Archive</a>
    </h2>
    <time datetime="2013-05-09" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/05">05</a>/09 15:20:02
</time>

    
    <p><a href="/blog/the-kristina-forest-hut">Speaking of Cabin Porn</a>, the folks over at the site have put a lot of work in to finding and posting great pictures lately, as well as polishing the site&#8217;s design over the past few months. And while it may not be new, for I actually can&#8217;t remember if it was there or not before today, I wanted to take a minute to mention the <a href="http://cabinporn.com/archive">Cabin Porn Archive</a>, where you can find every post going all the way back to February of 2009. Having just discovered this page this afternoon, don&#8217;t expect to hear from me for quite a while.</p>
</div>
</article>
{% endblock %}