{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-strangest-of-places" class="original">The Strangest of Places</a>
    </h2>
    <time datetime="2013-04-02" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/04">04</a>/02 20:18:31
</time>

    
    <p>As I was reading <a href="http://www.elasticspace.com/2013/03/no-to-no-ui"><em>No to NoUI</em></a> earlier, an article ostensibly regarding the state of user interfaces today, Timo Arnall&#8217;s description of &#8220;the cloud&#8221; stuck with me more than anything else from the article. That&#8217;s why, even though I should have picked a more representative sample, I ended up using that as my excerpt when I linked to the piece. Foolhardy or not, I chose this paragraph above all the others:</p>
    
    <blockquote>
<p>&#8220;We already have plenty of thinking that celebrates the invisibility and seamlessness of technology. We are overloaded with childish mythologies like &#8216;the cloud'; a soft, fuzzy metaphor for enormous infrastructural projects of undersea cables and power-hungry data farms. This mythology can be harmful and is often just plain wrong. Networks go down, hard disks fail, sensors fail to sense, processors overheat and batteries die.&#8221;</p>
    </blockquote>

    <p>Then, between checking the smoker, I read Ben Popper&#8217;s piece on The Verge titled <a href="http://www.theverge.com/2013/4/2/4170256/bioshock-infinite-making-great-art-from-americas-racist-past-and"><em>'BioShock Infinite&#8217; makes great art from America&#8217;s racist past and political present</em></a>.</p>
    
    <blockquote>
<p>&#8220;In BioShock Infinite, the creators again present a funhouse mirror of American ideological history. Comstock the Prophet and the citizens of the floating city of Columbia meld strains of religious fervor, anti-government rhetoric, jingoistic nationalism, and a twisted worship of the founding fathers, all carefully lifted from historical events at the turn of the 20th century, but simultaneously satirizing the Tea Party movement that has roiled our politics for the last six years.&#8221;</p>
    </blockquote>

    <p>Rather than the discussion debating whether video games are, in fact, art or the interesting fact that rather than pretending brutal racism never existed as we are wont to do these days the creators of Bioshock Infinite embraced this nation&#8217;s complicated history, I put my phone down after reading the article extremely impressed with the quality of the piece. Ben did something very difficult for many writers: he put these intensely personal thoughts and feelings in to writing, and he did so extremely well.</p>
    
    <p>After reading Ben&#8217;s piece, as I thought about the wonderful article I had just read, I realized I was finding these gems in the strangest of places: in an article about interface design, I came across a great characterization of &#8220;the cloud"; and in an article about gaming, I found a fantastic work of prose.</p>
</div>
</article>
{% endblock %}