{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="the-journal" class="original">The Journal</a>
    </h2>
    <time datetime="2013-06-11" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/06">06</a>/11 18:57:12
</time>

    
    <p>Although I make it a point not to spend much time talking about my personal life on this blog, it occasionally creeps in to my writing in the form of an anecdote, perhaps, or the inspiration for an entire article. A few weeks before Christmas last year, I linked to an article by Jason Snell titled <a href="http://www.macworld.com/article/2018600/why-im-writing-on-the-ipad.html"><em>Why I&#8217;m Writing on the iPad</em></a>, in which he talked about a time when he was forced to write using a pen and paper rather than on a computer. In <a href="/blog/writing-on-the-ipad">my brief article linking to that piece</a>, I talked about a six month period during which I kept a journal for a person very near and dear to my heart. I happened across that article a few minutes ago in the process of writing a new piece, and this paragraph struck a chord:</p>
    
    <blockquote>
<p>&#8220;Over the past six months I made it a point to keep a journal. Not so that I could reflect on my feelings twenty years from now, but so that I could give it to someone very dear to me as a Christmas gift. Rather than keep the journal on my computer as I would have preferred to with any sort of activity requiring me to write extensively though, I chose to forsake the immutability digitality affords and put pen to paper to create something inherently more valuable than it would have been as a collection of text files printed on 8.5x11 paper. Although my handwriting, just as Jason Snell&#8217;s, was then and still is&#160;&#8212;&#160;although to a lesser degree now&#160;&#8212;&#160;quite poor, I was very happy with the result. As was she.&#8221;</p>
    </blockquote>

    <p>Not to toot my own horn&#160;&#8212;&#160;but honestly, to toot my own horn&#160;&#8212;&#160;that&#8217;s some pretty good writing, and something I&#8217;m very proud of.</p>
</div>
</article>
{% endblock %}