{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="this-week-in-podcasts-42814" class="original">This Week in Podcasts</a>
    </h2>
    <time datetime="2014-05-04" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/05">05</a>/04 12:24:24
</time>

    
    <p>Just a few shows for you this week, unfortunately. I would rather post a short list than pass mediocre episodes off as something much greater though, so I hope you can find it in your heart to forgive me. Without further ado, then, I present the best podcast episodes from this past week.</p>
    
    <p><a href="http://constellation.fm/shows/pulling-the-string/30">Pulling the String Episode 030: Are We The Same People That We Were A Month Ago?</a>. Ben Alexander talked with Constellation&#8217;s Sound Engineer, Lorenzo Guddemi, in a discussion full of interesting thoughts regarding podcasts, production, and editing, and how those aspects&#160;&#8212;&#160;just as in other areas, such as writing&#160;&#8212;&#160;ought to be combined to make a great product. As somehow who has historically been <a href="/blog/podcasting-state-of-the-union">very outspoken against the practice of editing for content</a>, this talk proved particularly thought-provoking.</p>
    
    <p><a href="http://technicaldifficulties.us/episodes/021-raising-a-human">Technical Difficulties Episode 021: Raising a Human</a>. Even though I have years ahead of me before I get the chance to raise a kid of my own, I have still thought about how I would do so. Hearing from other dads explaining their thoughts on fatherhood and talking about approaches that don&#8217;t necessarily jive with my own idealized process, then, has always interested me; this episode featuring a great discussion between Merlin Mann and Gabe was no exception. I would&#160;&#8212;&#160;and do&#160;&#8212;&#160;listen to any show Merlin appears on; in this case, my blind fandom truly paid off even more than usual.</p>
    
    <p><a href="http://5by5.tv/b2w/169">Back to Work Episode 169: Upgrade Your Skateboard</a>. Using comiXology as a starting point, Dan and Merlin had a fantastic discussion about the nature of business particularly with regards to Apple and Amazon, but applicable elsewhere as well. Turns out, just because something angers you does not doom the company in question to inevitable failure. Unfortunately though, many conflate personal frustration with impending demise. Come for their thoughts on Amazon and comiXology, but stay for the excellent business insight.</p>
</div>
</article>
{% endblock %}