{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="this-week-in-podcasts-9814" class="original">This Week in Podcasts</a>
    </h2>
    <time datetime="2014-09-14" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/09">09</a>/14 19:03:01
</time>

    
    <p>This week we see the return of my favorite podcast, Roderick on the Line, to this list with an even better episode than usual. Also making an appearance we have The Campfire Project, Exponent, and Grit; a fantastic roster, if I do say so myself.</p>
    
    <p><a href="http://www.thecampfireproject.com/episodes/025">The Campfire Project Episode 25: I Probably Shouldn&#8217;t Say This, But...</a>. Jim Dalrymple joins Matt and Chris to talk about everything web publishing, from distribution methods to marketing tactics and the current state of Newsstand publishing on iOS.</p>
    
    <p><a href="http://www.merlinmann.com/roderick/ep-123-your-mom-doesnt-work-here.html">Roderick on the Line Episode 123: Your Mom Doesn&#8217;t Work Here Anymore</a>. Fantastic episode where John talks about, among other things, moderating a panel on three relatively safe topics: cats, juggalos, and bullying. Talk about a minefield. The insights he gained from that experience though, which he shares here, are fascinating. He and Merlin follow this thread and spend the rest of the episode talking about culture, beliefs, enforcing your version of either on others, and the inherently flawed notion of &#8220;fair&#8221;. Great, great discussion; I can&#8217;t recommend it highly enough.</p>
    
    <p><a href="http://exponent.fm/episode-016-naked-people/">Exponent Episode 16: Naked People</a>. Using James Allworth&#8217;s recent trip to Burning Man as a jumping-off point, he and Ben Thompson delve into a fascinating and insightful conversation on political beliefs and just what informs them, and how even the smallest realizations can dramatically change them for the better. As a young person without any hard and fast political allegiances, or much of an interest in this space at all, I found this episode particularly interesting and eminently worthwhile. Excellent.</p>
    
    <p><a href="http://5by5.tv/quit/54">Grit Episode 54: Something Mister Miyagi Said</a>. Lots of people say that they want to write&#160;&#8212;&#160;that this is what they would love to do, and where their passion lies. But, as Dan Benjamin points out here, if writing is not the thing you come home to do after working all day, and if you do not write instead of watching your favorite TV show and going out with your friends, maybe writing isn&#8217;t really what you want to do. If you truly harbor a love for the writer&#8217;s craft, nothing will stand in your way. This week, on Grit, Dan tackles this tough point and takes questions from callers as well.</p>
</div>
</article>
{% endblock %}