{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="thoughts-on-glass" class="original">Thoughts on Glass</a>
    </h2>
    <time datetime="2014-07-03" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/07">07</a>/03 17:18:23
</time>

    
    <p>The problem with Google Glass is not that it is inherently creepy, but rather that it has the potential for many uses of dubious morality; and as our minds happened upon those possibilities in the wake of Glass&#8217; unveiling, and we paused to ponder an appropriate reaction to these eventualities, it became socially acceptable to walk around smacking these expensive devices off the faces of those who deigned to wear them. Like a small child who, in the split second before a parent can exert physical restraint, runs off unknowingly towards a potentially harmful situation, so, too, did the least of us jump on this brief respite in the broad narrative of what is and is not acceptable and begin harming others for something we readily admit that we do not understand.</p>
    
    <p>Like the cave men of a day long past who witnessed, for the briefest of seconds, the power of fire following a lightning strike, and rightfully shied away from it, we, too, have been given a fleeting and admittedly incomplete glimpse of the technology that will bring us to the next technological age. Will we shy away from this advance as well? Will we continue barbarically smashing these gadgets because we fail to understand their use, their purpose, their significance to our future, just as our neanderthalic ancestors did once upon a time to their lone brethren who approached with a smoldering stick in his hand?</p>
    
    <p>For our sake, I hope not. They got over it, after all, but the question nevertheless remains: will we?</p>
</div>
</article>
{% endblock %}