{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://gearpatrol.com/2014/10/01/viewfinder-above-america/" class="linkpost">Viewfinder: Above America</a>
    </h2>
    <time datetime="2014-10-08" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/10">10</a>/08 08:27:07
</time>

    
    <p>In a day and age before ubiquitous personal drones roamed the skies, capturing incredible footage of active volcanoes, <a href="/blog/dji-phantom-quadcopter">for example</a>, filmmakers had no choice but to climb into planes and film those breathtaking views themselves. Harrison Sanborn found some of this footage in his father&#8217;s archives, digitized the film, and turned the result into a neat three minute video on Vimeo.</p>
    
    <p>There&#8217;s a certain quality to this footage that newer, digital-first recordings courtesy or our aerial robotic minions just don&#8217;t have. Perhaps its &#8220;the celluloid warmth of the colors&#8221;, as Nick Milanes suggests in Gear Patrol&#8217;s article covering the video. Regardless of what it is, I just hope that we don&#8217;t lose it. There is always something to be said for taking the hard route, and the quality of the end-product when doing so, over that of the easier, increasingly mechanized approach.</p>
</div>
</article>
{% endblock %}