{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.outsideonline.com/outdoor-adventure/nature/Unschooling-The-Case-for-Setting-Your-Kids-Into-the-Wild.html" class="linkpost">We Don't Need No Education</a>
    </h2>
    <time datetime="2014-08-27" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/08">08</a>/27 08:08:49
</time>

    
    <p><a href="http://benhewitt.net">Ben Hewitt</a> puts forth a very good case not seeking to argumentatively justify the notion of unschooling, but rather simply to explain his motivations behind choosing it for his two children in a fantastic article for Outside Online titled &#8220;<a href="http://www.outsideonline.com/outdoor-adventure/nature/Unschooling-The-Case-for-Setting-Your-Kids-Into-the-Wild.html">We Don&#8217;t Need no Education</a>&#8221;. As a homeschooler myself whose education resided somewhere between the traditional system and Ben&#8217;s approach on the spectrum of organized learning, I have been fortunate enough to both witness and experience many of the philosophies named here. Although this is neither the time nor place to discuss those observations, nor my broader thoughts on education vis-a-vis this article, keep this one in mind when I finally do sit down to talk about education.</p>
</div>
</article>
{% endblock %}