{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="what-if-the-dolphins-had-thumbs" class="original">What If the Dolphins Had Thumbs</a>
    </h2>
    <time datetime="2013-03-21" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/03">03</a>/21 09:27:49
</time>

    
    <p>After finishing the backlog of Critical Path episodes early yesterday afternoon, I scrolled down through <a href="/blog/too-many-podcasts">my extensive list of podcasts</a> until I came to <em>The Talk Show With John Gruber</em>. After <a href="/blog/regarding-the-talk-show">my initial impressions</a> of John Gruber&#8217;s latest work, I did not expect to particularly enjoy the next hour and a half. Like my previous encounters with John Gruber&#8217;s work, however, where it took a number of tries to discover the value of The Talk Show while it aired in 5by5, the third time was the charm: I am once again hooked on John&#8217;s podcast. I gave The Talk Show a third chance, and I suggest all of you who, like me, recoiled so violently from everything John Gruber in the wake of the move to the Mule Radio Syndicate, give The Talk Show another chance: it&#8217;s not quite as good as it used to be, but it&#8217;s still The Talk Show.</p>
    
    <p>The Talk Show episode one, <a href="http://www.muleradio.net/thetalkshow/1/">What If the Dolphins Had Thumbs</a>.</p>
</div>
</article>
{% endblock %}