{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="what-happened-to-instapaper" class="original">What Happened to Instapaper?</a>
    </h2>
    <time datetime="2013-07-04" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/07">07</a>/04 15:45:51
</time>

    
    <p>I ask this question every time I open the app: <em>What happened to Instapaper?</em> After its sale both <a href="www.marco.org/2013/04/25/instapaper-next-generation">Marco</a> and Betaworks seemed so enthusiastic about the popular read later service&#8217;s future. Since then two months have gone by without a peep from anyone&#160;&#8212;&#160;not even a point release.</p>
    
    <p>But that&#8217;s not a bad thing. It&#8217;s no secret that after Google&#8217;s decision to shutter Google Reader, <a href="http://blog.digg.com/post/53203926175/digg-reader-update">Digg&#8217;s entire staff put every effort in to creating a replacement from scratch</a>, effectively putting a stop to work on every other project, including Instapaper. Now that Digg Reader is out though, work on those other projects will undoubtedly resume, and we will soon see a major new version of Instapaper&#160;&#8212;&#160;of this I am sure: especially after such a prolonged period of inactivity leading up to Marco&#8217;s sale of the service, Betaworks will want to come out swinging with Instapaper 5. Not another point release, but a full-on major update to the internet&#8217;s favorite read-later service.</p>
    
    <p>It&#8217;s an exciting time for this product that such a large majority of the internet&#8217;s most influential personalities use. I can&#8217;t wait to see what Betaworks makes of this opportunity.</p>
</div>
</article>
{% endblock %}