<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="favicon.ico">
        <meta property="og:title" content="When will smartphones saturate? - ">
        <meta property="og:site_name" content="Zac J. Szewczyk">
        <meta property="og:article:author" content="Zac J. Szewczyk">
        <meta property="og:see_also" content="http://zacjszewczyk.com/">
        <title>
            When will smartphones saturate? - Zac J. Szewczyk
        </title>
        <link rel="author" href="https://plus.google.com/109294852959769775608/about" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for Zac J. Szewczyk's Blog" href="/rss" />
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css" type="text/css" />
        <!-- SHEETS -->
    </head>
    <body id="post">
        <header><!--BLOCK HEADER--></header>
        <nav>
            <a id="home_link" href="/">Home</a>
            <a id="blog_link" href="/blog">Blog</a>
            <a id="rss_link" href="/rss">RSS</a>
            <a id="archives_link" href="/archives">Post Archives</a>
            <a id="projects_link" href="/projects">Projects</a>
            <!-- <a id="logout_link" href="/logout">Logout</a> -->
            <div class="flash">{{ message }}</div>
        </nav>
        <main>
            <section id="content_section">
                <article>
    <h2 class="article_title">
        <a href="http://www.asymco.com/2014/01/07/when-will-smartphones-saturate/" class="linkpost">When will smartphones saturate?</a>
    </h2>
    <time datetime="2014-01-08" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/01">01</a>/08 20:52:43
</time>

    
    <blockquote>
<p>> &#8220;Although 2013 was often cited as the year when smartphones saturated (&#8216;everybody that wants one has one'), the total population of users will likely take another decade to reach maximum. The point of inflection in global growth could be expected in 2017. ... What most observers sensed was the point of inflection in growth in North America and Western Europe. Those regions are 11% of the world&#8217;s population.&#8221;</p>
    </blockquote>

    <p>A characteristically excellent article by Horace Dediu of Asymco. Horace Dediu, Benedict Evans, and Ben Thompson constantly vie for the top spot as my favorite data-driven writer. As much as I enjoyed <a href="http://stratechery.com/2014/chromebooks-cost-complexity/"><em>Chromebooks and the Cost of Complexity</em></a>, Horace might have inched his way ahead with this one. As usual, I find his perspective on data&#160;&#8212;&#160;even more so than his revered graphs&#160;&#8212;&#160;fascinating.</p>
</div>
</article>
            </section>
        </main>
        <span id="ipad_device"></span>
    </body>
    <!-- SCRIPTS BLOCK -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36771281-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>