{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.theawl.com/2014/01/what-if-these-seven-famous-ted-talks-are-just-totally-wrong" class="linkpost">When TED Talks Turn Evil</a>
    </h2>
    <time datetime="2014-01-23" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/01">01</a>/23 14:59:41
</time>

    
    <p>Before Benjamin Bratton posted the transcript and then full video of his TEDx talk titled &#8220;<a href="http://www.bratton.info/projects/talks/we-need-to-talk-about-ted/">We need to talk about TED</a>&#8221;, I cannot remember ever seeing anyone seriously criticize this group. Now, though, it seems not a week goes by without someone taking a particular speaker or the entire conference to task for some harebrained, far-fetched, and implausible scheme that somehow made it to this once-revered stage. Oh, how the mighty have fallen.</p>
</div>
</article>
{% endblock %}