{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.thedailybeast.com/articles/2014/02/23/whole-foods-america-s-temple-of-pseudoscience.html" class="linkpost">Whole Foods: America's Temple of Pseudoscience</a>
    </h2>
    <time datetime="2014-02-25" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/02">02</a>/25 21:41:09
</time>

    
    <p>Try&#160;&#8212;&#160;I say &#8220;try&#8221; fully aware of the fact that few of you will even try, let alone succeed&#160;&#8212;&#160;to disregard your own personal beliefs when reading this article and it becomes an interesting social commentary on rationality and hypocrisy. I have seen both sides Michael Schulson describes take their beliefs to their respective extremes over the years, to equally ridiculous and ineffective results. If nothing else, read this article, stick it in the back of your mind, and think back to it next time you make a decision based on something you hold as a self-evident truth.</p>
</div>
</article>
{% endblock %}