{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://vintagezen.com/zen/2014/1/10/dz8" class="linkpost">The Daily Zen &#35;8 "Winners, Losers, & High School"</a>
    </h2>
    <time datetime="2014-01-11" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/01">01</a>/11 12:08:43
</time>

    
    <blockquote>
<p>> &#8220;Markets can sustain more than one company or product. There doesn&#8217;t have to be an ultimate winner in everything, and most of the time the market is fragmented into various successful companies and products. You can have Android with a huge market share and still have iOS be successful and profitable; neither side has to kill the other to survive. Markets are endlessly complex things filled with shades of gray, and while it&#8217;s nice to try and fit them into set boxes, it&#8217;s fantasy, plain and simple.&#8221;</p>
    </blockquote>

    <p>An excerpt from another installment of the Daily Zen, a series of articles Linus Edwards&#160;&#8212;&#160;who distilled a lengthy Twitter conversation into a great article titled <a href="http://vintagezen.com/zen/2014/1/8/the-hard-way"><em>The Hard Way</em></a> just a few days ago&#160;&#8212;&#160;endeavors to post daily. I found this observation especially interesting when applied to the world of writers who publish independently on their own websites, where many possess the incorrect notion that one individual&#8217;s success must come at the expense of another&#8217;s. In both cases, this is an equally incorrect belief.</p>
</div>
</article>
{% endblock %}