{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="writers-need-their-freedom" class="original">Writers Need their Freedom</a>
    </h2>
    <time datetime="2013-02-21" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2013">2013</a>/<a href="/blog/2013/02">02</a>/21 18:10:49
</time>

    </blockquote>

    <p>Quite some time ago I came across Jeffrey Way&#8217;s article <a href="http://net.tutsplus.com/articles/editorials/publishers-dont-restrict-writers/"><em>Publishers: Don&#8217;t Restrict Writers</em></a> and added it to my Instapaper queue more out of curiosity at an article posted on Nettuts+ not about programming than anything else. Nearly a month prior, I had read an article on Ben Brooks&#8217; website called <a href="http://brooksreview.net/2012/11/self-publishing/"><em>Self-Publishing</em></a> in which he said something I found very interesting:</p>
    
    <blockquote>
<p>&#8220;Writing an iBooks book on my own turned into less about writing and more about layout, software, and editing.&#8221;</p>
    <p></p>
    <p>Ben went on to say that as a result of this unnecessarily complex process&#160;&#8212;&#160;a process Jeffrey outlines and talks about in his aforementioned article&#160;&#8212;&#160;he had decided not to write the book. In a similar vein Jeffrey discussed the effects placing artificial restrictions on writers often causes, concluding that stipulating such harsh requirements often prompts writers to refuse projects at their onset or leads to its eventual abandonment as the absurdity of such rules becomes apparent. Restrictions constrain ideas to a pre-determined idea of what is acceptable; in a space as innovative as writing&#160;&#8212;&#160;especially on the internet&#160;&#8212;&#160;it is not only impractical to force writers to operate within ridiculous constraints, but also non-conducive to the great content we as a society and the internet community in particular hold so high.</p>
</div>
</article>
{% endblock %}