{% extends "layout.html" %}
{% block scripts %}
            <script type="text/javascript">
                function insertAfter(e,a){a.parentNode.insertBefore(e,a.nextSibling)}for(var fn=document.getElementsByClassName("footnote"),i=0;i<fn.length;i++){var a=[].slice.call(fn[i].children);if("[object HTMLParagraphElement]"==a[a.length-1]){var temp=a[a.length-2];a[a.length-2]=a[a.length-1],a[a.length-1]=temp;for(var j=0;j<a.length;j++)fn[i].removeChild(a[j]);for(var j=0;j<a.length;j++)fn[i].appendChild(a[j])}}
                //https://www.dirtymarkup.com/, http://jscompress.com/
                if (document.title.search("Ipad")) {document.title = document.title.replace("Ipad", "iPad")}
            </script>
{% endblock %}
{% block body %}
<article>
    <h2 class="article_title">
        <a href="http://www.outsideonline.com/outdoor-adventure/the-current/raising-rippers/Dont-Let-Youth-Sports-Hijack-Your-Life.html" class="linkpost">Youth Sports are Hijacking Your Life</a>
    </h2>
    <time datetime="2014-09-30" pubdate="pubdate">By <link rel="author">Zac J. Szewczyk</link> on <a href="/blog/2014">2014</a>/<a href="/blog/2014/09">09</a>/30 12:55:35
</time>

    
    <p>Reading this article from Outside Online, it reminded me of a story a family friend once told me. She explained that her son and daughter-in-law, both schoolteachers in Alaska, had decided to raise their young son without the traditional lessons society dictates a small boy learn during his formative years. As far as his dad was concerned, if he never learned to play baseball, that was just fine: instead he would learn about the outdoors, and gain skills that will benefit him for the rest of his life. Baseball simply didn&#8217;t fit the bill. That philosophy struck me as abnormal at the time, yes, but also wonderfully so: while this little boy&#8217;s peers learned to yearn for recess while a teacher droned on in the background, he would spend his time on things that actually mattered. Just because something is the status quo does not mean that it is right.</p>
</div>
</article>
{% endblock %}